<h2>{{title}}</h2>
<form action="{{action}}" method="POST" {{#if sign}} enctype="multipart/form-data" {{/if}}>
  <p>
    <label>Email: </label>
    <input type="email" name="email" />
  </p>
  <p>
    <label>Password: </label>
    <input type="password" name="password" />
  </p>
  {{#if sign}}
  <p>
    <label>Profile photo: </label>
    <input type="file" name="photoURL" />
  </p>
  {{/if}}
  <p>
    <input type="submit" value="{{title}}"">
  </p>


