<form action="/comment/new" method="POST" enctype="multipart/form-data">
  <h2>New Comment</h2>

  <label for="content">Content</label>
  <br>
  <br>
  <textarea name="content" id="content" cols="30" rows="10"></textarea>

  <br>
  <br>

  <label for="image">Choose a post pic</label>
  <input type="file" name="image" id="image">

  <br>
  <br>

  <button type="submit">Create Post</button>

</form>