<form action="/posts/add" method="POST" enctype="multipart/form-data">
  <label>Content</label>
  <textarea name="content" placeholder="Text"></textarea>

  <label>Add image</label>
  <input type="file" name="photo">
  <button>Create post</button>
</form>