<form method="POST" action="/posts/add" enctype="multipart/form-data">
    <label>Content</label>
    <textarea name="content" placeholder="Content"></textarea>
    <label>Add image</label>
    <input type="file" name="photo">
    <button>Create Post</button>
</form>