<form method='POST' action="/posts/add" enctype="multipart/form-data">
<label for="content">content</label> <br>
<textarea name="content" id="content" cols="30" rows="10" placeholder="Put the content of your POST over here"></textarea>
<br><br>
<label for="">Add Image</label>
<input type="file" name="photo">

<button>Create Post</button>

</form>