<h2>Create new post</h2>
<form action="/post/create" method="POST" enctype="multipart/form-data">
    <label for="content">Content</label>
    <input type="text" name="content" id="content">
    <label for="photo">Profile Picture</label>
    <input type="file" name="photo" id="photo">
    <input type="submit" value="Upload">
</form>