<form action="/create" method="post" enctype="multipart/form-data">
  <label for="content"></label>
  <textarea type="text" name="content" id="content" required></textarea><br>
  <input type="file" name="photo" required>
  <button> Add post! </button>
</form>
<br><a href="/"><button>GO BACK</button></a>
