<form action="/post/create" method="POST" enctype="multipart/form-data">
    <label for="content">Post Content</label> <br>
    <textarea name="content" id="" cols="30" rows="10"></textarea>

    <br><br>

    <label for="picture">Picture</label>
    <input type="file" name="picture">

    <br><br>

    <input type="submit" value="Create Post">
</form>