<h2>New Post</h2>

<br>
<a href="/">Return Home</a>
<br>
<br>
<br>

<form action="/posts/create" method="POST" >
    <textarea type="text" name="content" cols="80" rows="5"></textarea>
    <br>
    <input type="submit" value="send">
</form>