<section class="section-detail">

    
      <img src="{{picPath}}" style="width: 300px; margin-bottom:18px;" alt="">
    
      <h3 style="text-align: center; width:70%;">{{content}}</h3>
      <h5>Author: {{creator}}<h5/>
    <button onclick="location.href=`/comment/{{_id}}`" class="button" style="background-color: rgb(218, 218, 218);">New Comment</button>
      
</section>
