<h2>Post</h2>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <figure class="details">
                <img src="{{picPath}}" alt="">
            </figure>
            <p>{{content}}</p>
        </div>
        <div class="col-md-4">
            <p>Autor: {{this.creatorId.username}}</p>
        </div>
    </div>
</div>