<form action="/<%= result.id %>/edit" method="post" enctype="multipart/form-data">
  <label for="content"></label>
  <textarea type="text" name="content" id="content" required><%= result.content %></textarea><br>
  <img width="100px" src="<%= result.pic_path %>">
  <% if (result.creatorId == userLogged.id){ %>
  <label for="photo">Change my photo</label>
  <input type="file" name="photo" id="photo">
  <br><br><button>Edit this posts </button>
  <% } else { %>
    Not allowed to edit images from other users.
  <% } %>
</form>
<br><a href="/showOwn"><button>GO BACK</button></a>
