<h2>Edit your post</h2>

<form action="/posts/{{_id}}" method="post">
  <label for="content-input">Name:</label>
  <input id="content" type="text" name="content" value={{picName}}>

  


  <input type="submit" value="Save Name">
</form>