<h2>Crea tu post:</h2>

<form action="/new" method="POST" enctype="multipart/form-data">
    <p>
        Post name, be creative!
    <input name="picName" type="text">
    </p>
    <br><br>
    <p>
        Describe your post
    <input name="content" type="text">

    </p>
    <br><br>    
    <input name="picPath" type="file">
    <br><br>    
    <input type="submit">

</form>
