<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">IronTumblr</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/newPost">
            <span class="glyphicon glyphicon-pencil"></span> My page</a>
        </li>
        <li>
          <a href="./logout">
            <span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h1>Welcome to IronTumblr</h1>
  </div>
  <div class="container">
    <% posts.forEach((post) => { %>
      <div class="container">
        <img src="<%= post.picPath %>" alt="" width="500">
      </div>
      <hr>
      <div class="container">
        <%= post.content %>
      </div>
      <hr>
      <%  }) %>
  </div>