<div class="posts-container">
    {{#each posts}}
    <h3>{{this.picName}}</h3> <!--this es posts-->
    <img src="{{this.picPath}}"> <!--url de la foto-->
    <p>{{this.content}}</p>
    {{/each}}
</div>