<h2>All Posts</h2>


<div class = "posts-container">

    {{#each posts}}
        <h3>{{this.PicName}}</h3>
        <img src="{{this.picPath}}">
        <p>{{this.content}}</p>
    {{/each}}

</div>











