
<h2> Add a New Post </h2>

<form method="post" action="/posts" enctype="multipart/form-data">
  <label for="imageName-input"> Post Image Name </label>
  <input  id="imageName-input" type="text" name="pictureName">
  <br>
  <br>
  <textarea rows="4" cols="50" name="postContent" form="usrform">
  Enter content here...</textarea>
  <br>
  <br>
  <label for="photo-input"> Upload Photo </label>
  <input  id="photo-input" type="file" name="postPhoto">
  <br>
  <br>
  <button> Save Post </button>
</form>
