<form action="/posts/new" method="post" enctype="multipart/form-data">

    <label for="post-pic-path">Upload Picture</label>
    <input id="post-pic-path" type="file" name="postPicPath">
    <br>

    <label for="post-pic-name">Picture Caption</label>
    <input id="post-pic-name" type="text" name="postPicName">
    <br>

    <label for="new-post-content">Write Your Post Here</label>
    <textarea id="new-post-content" type="text" name="postContent"></textarea>
    <br>

    <button>Create</button>
</form>
