<h2> Add a New Post </h2>

<form method="post" action="/posts" enctype="multipart/form-data">
  <label for="post-name-input"> Post Name </label>
  <input id="post-name-input" type="text" name="postName"
    placeholder="My Awesome Post">
  <br>

  <label for="picture-name-input"> Description </label>
  <textarea id="picture-name-input" name="picName"
    placeholder="It's a beautiful picture in Space!"></textarea>
  <br>

  <label for="post-photo-input"> Upload Photo </label>
  <input  id="post-photo-input" type="file" name="postPhoto">
  <br>

  <button> Save Post </button>
</form>
