<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/newPost" method="post">
        <div class="form-group">
          <label for="picPath">Path Image</label>
          <input type="text" name="picPath" class="form-control">
        </div>
        <div class="form-group">
          <label for="picName">Name Image</label>
          <input type="text" name="picName" class="form-control">
        </div>
        <div class="form-group">
          <label for="content">Post Content</label>
          <textarea type="text" name="content" class="form-control" rows="20" cols="50">Enter here the content of your Post...</textarea>
        </div>
        <button type="submit">Submit Post</button>
      </form>
    </div>
  </div>
</div>