<form action="/new" method="POST" enctype="multipart/form-data">
    <label>Picture</label>
    <input type="file" name="imgPost" accept="image/*">
    <br><br>
    <label>Name Picture</label>
    <input type="text" name="picName">
    <br><br>
    <label>Content</label>
    <input type="text" name="content">
    <br><br>
    <div>
    <button type="submit">Create Post</button>
    <a href="/">Return</a>
    </div>
</form>