<section id="newPost">
    <form action="/new" method="post" enctype="multipart/form-data">
        <input type="text" name="content">
        <input type="text" name="picName">
        <input type="file" name="photo">
        <button type="submit">Save post</button>
    </form>
</section>