
        <h3>Create a new post</h3>
    <form action="/new" method="post" enctype="multipart/form-data">
      <input type="text" name="name" placeholder="nombre del archivo" required>
      <input type="file" name="photo" accept="image/png" required>
      <textarea name="content">Write a post</textarea>
      <br>
      <input type="submit" value="Save">
    </form>


    <a href="/index"><button>Back to Index</button></a>