<div class="container">
    <h1>Deja tu POST!!!</h1>
    <form action="/posts/new" method="post" enctype="multipart/form-data">
        <div class='form-group'>
            <label for='input1'>¿Qué quieres decirnos?</label>
            <input name='content' type='text' class='form-control' id='input1'>
        </div>
        <div class='form-group'>
            <label for='input2'>¿Qué nombre quieres dar a la imagen de tu post?</label>
            <input name='picName' type='text' class='form-control' id='input2'>
        </div>
        <div class='form-group'>
            <label for='input3'>Añade la imagen a tu post</label>
            <input name='picFile' type='file' id='input3'>
        </div>
        <button type='submit' class='btn btn-dark'>Subir post</button>
    </form>
</div>