<h2>New Post</h2>

<form action="/posts" method="post">
  <label for="name-input">Content:</label>
  <input id="content" type="text" name="content">

  <label for="creatorId-input">creatorId:</label>
  <input id="creatorId-input" type="text" name="creatorId">

  <input type="submit" value="Save Name">
</form>