<div id="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>New Post!</h1>
      <form action="/posts/new" method="POST" class="form">
        <label for="post">Post</label><br>
        <textarea type="text" name="content" class="form-control" placeholder="Enter your post!"></textarea>
        <button class="btn btn-primary">Create a post</button>
      </form>

      <% if (typeof(errorMessage) != "undefined") { %>
        <div class="error-message">
          <%= errorMessage %>
        </div>
        <% } %>
    </div>
  </div>
</div>
