<form action="/posts/new" method="post" enctype="multipart/form-data">
  <textarea name="content" cols="30" rows="10"></textarea><br>
  <input type="file" name="postpic" required>
  <input type="submit">
</form>
