<h1>Create a post</h1>

<form action="/post/add" method= "POST" enctype="multipart/form-data">

<label for="">Content</label>
<input type="text" name="content" placeholder="content">
<br/>

<label>Picture</label>
<input type="file" name="photo">

<input type="submit" value="SAVE">




</form>