<form action="/post/create" method="POST" enctype="multipart/form-data">

<label for="name">Content</label>
<input type="text" name="content" id="content">

<input type="file" name="image">

<button>post</button>
</form>