<h1>Listado de Posts</h1>

{{#each allPost}}
<ul>
  <li>
    <figure>
      <a href="/post/detail/{{this._id}}">
        <p>Contenido: {{this.content}}</p>
      </a>
      <img src="{{this.picPath}}" alt="post-image">
    </figure>
  </li>
</ul>

{{/each}}
{{#if User}}
<a href="/post/add">Añadir un Post nuevo</a><br><br>
{{/if}}

<a href="/">Volver</a>