<div class="container coasters-index">
    <br>
    <a href="/posts/new" class="btn btn-dark">Crear posts</a>
    <br>
    <br>
    <h1 style="font-weight: 100">Índice de posts</h1>


    {{#each posts}}
    <hr>

    <h4>Contenido: {{content}}</h4>
    <p>Creador: {{creatorId.username}}</p>
    <img src="{{this.picPath}}" alt="" style="width: 100%">
    <p>{{picName}}</p>
    <a href="/comments/new">Añadir un comentario</a>
    {{/each}}
</div>