<h1>Make a new post</h1>

<section>
    <h2>New Post</h2>
    <form action="/posts/new" method="post" enctype="multipart/form-data">

        <input type="text" name="content"><br>

        <input type="file" name="phototoupload" multiple><br>
        <input type="submit" value="Save"><br>
    </form>
</section>