<section id="navBar">
  <div>
    <h1>IronTumblr</h1>
  </div>
  <div>
    {{#if user}}
    <a href="/userPosts">My posts</a>
    {{/if}}
  </div>
  <div>
    <a href="/">Back</a>
  </div>
</section>

<section id="mainPage">
  <section id="posts">
    {{#each posts}}
    <a href="/show/{{this._id}}"><img src="{{this.picPath}}" alt=""></a>
    <h1></h1>
    <p>{{this.content}}</p>
    {{/each}}
  </section>
</section>