<h1>Create a Post</h1>

<form method="POST" enctype="multipart/form-data">
  <label for="input-image">Image</label>
  <input type="file" id="input-image" name="image" accept="image/png, image/jpeg">

  <label for="input-content">Content</label>
  <input type="text" id="input-content" name="content" placeholder="Content" required/>

  <button>Create</button>
</form>