<div class="container-fluid">
  <div class="home-heading text-center row">
    <div class="home-heading-wrapper">
      <h1>Here you can see all posts</h1>


      <p>Do you want create a post??</p>
      <a class="btn btn-default" href="/posts/new">Create a Post</a>
    </div>
  </div>
</div>