 <h1>{{post.picName}}</h1>
  <img src="{{post.picPath}}" alt="Image: {{post.picName}}">
  <p style="font-size: 16px;">{{post.content}}</p>
  <div class="comments">
    {{#if user}}
    <div class="add-comment">
      {{!-- Comments Aquí --}}
    </div>
    </div>
  </div>