<div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{post.picPath}}" alt="Post image">
    <div class="card-body">
      <h5 class="card-title">{{post.picName}}</h5>
      <p class="card-text">{{post.content}}</p>
    </div>
  </div>
</div>