<div class="row mt-5">
  {{#each posts}}
  <div class="col-4 mb-4">
    <div class="card">
      <div class="card-header"><a href="/{{_id}}">{{creatorId.username}}</a></div>
      <img src="{{picPath}}" class="card-img-top" alt="{{picName}}">
    </div>
  </div>
  {{/each}}
</div>