.main-container {
	width: 90%;
	margin: 50px auto;
}

.header {
	margin-bottom: 2rem;
	p {
		font-size: 1.25rem;
	}

	.header-greeting {
		display: flex;
		justify-content: flex-start;
		align-content: center;
	}

	.header-title {
		margin-bottom: 1.5rem;
		display: inline-block;
		
		&:after {
			content: "";
			height: 3px;
			margin-top: 5px;
			background-color: #000;
			width: 100%;
			display: block;
		}
	}
	.profile-pic {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: 5px solid $light-blue;
		overflow: hidden;
		img {
			max-width: 100%;
			height: auto;
			object-fit: cover;	
		}
	}
	.profile-name {
		align-self: center;
		margin-left: 20px;
		span {
			text-transform: capitalize;
			font-weight: 600;
		}
		
	}
}

.navigation {
	margin-top: 1.5rem;
	margin-bottom: 2.5rem;
	ul {
		padding-left: 0;
		list-style-type: none;
		display: flex;
		justify-content: flex-start;
	}
	li{
		border: 2px solid $light-blue;
		&:first-child {
			border-left: 4px solid $light-blue;
		}
		&:last-child {
			border-right: 4px solid $light-blue;
		}
		
	}
	a {
		padding: 0.5rem 2rem;
		display: block;
		text-decoration: none;
		transition: all 0.5s;
		&:hover {
			background-color: $light-blue;
			color: #fff;
		}
	}
}

.post-card {
	margin-bottom: 1.5rem;
	
	figure {
		margin: 0 auto;
	}
	figcaption {
		max-width: 330px;
		background-color: $light-gray;
		box-sizing: border-box;
		padding: 1rem 1.5rem;
		font-size: 1rem;
		margin: 0 auto;
	}
	.post-card-pic {
		max-width: 330px;
		max-height: 385px;
		overflow: hidden;
		margin: 0 auto;
		img {
			max-width: 100%;
			height: auto;
			display: block;
		}
	}
	.post-card-text {
		padding-top: 1rem;
		padding-bottom: 1rem;
		color: $medium-dark;
	}
}

@media screen and (min-width: 640px) {
	figure {
		display: flex;
	}
	.post-card {
		.post-card-pic {
			margin: 0 0;
		}
		figcaption {
			max-width: 100%;
			width: calc(100% - 330px);
			margin: 0 0 0 1rem;
		}
	}


}