html {
	font-size: $font-base;
}

body {
	font-family: $main-font;
}

h1 {
	font-size: 3rem;
	color: $light-blue;
	a{
		&:hover{
			color: darken($light-blue, 10%);
			text-decoration: none;
		}
	}
}

a {
	color: $light-blue;
}