body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.img{
  border-radius: 150px;
  height: 300px;
  width: 300px;
}
.img2{
  height: 200px;
  width: 200px;
}


li{
  list-style: none;
}
