

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  padding: 15px;
  background-color: #f2f2f2;
}

.profilePic {
  margin-top: -15px;
  height: 150px;
}

