body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.container-post {
  display: flex;
  flex-flow: row;
  flex-direction: row;
}
.newComment {
  margin-left: 80px;
}
.comments {
  margin-left: 80px;
}
