body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: brown;
}

.navbar{
  display: flex;
  justify-content: flex-end;
}
.navbar li{
  display: inline-block;
  text-decoration: none;
  padding-left: 30px;
}

.post{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.post:nth-child(even){
  background: burlywood;
}

.post:nth-child(odd){
  background: lightgoldenrodyellow;
}

.post img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 30px 0;
}

.comment{
  font-size: 0.8em;
  width: 400px;
  border-top: 1px dashed gray;
  padding: 10px 0;
}

.comment img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.comments{
  padding: 20px 0;
}

.tag{
  color: gray;
  text-align: right;
}