<form action="/posts/add" method="POST"  enctype="multipart/form-data">
<label for="">Content</label>
<textarea name="content" cols="30" rows="10" placeholder="Content"></textarea>
<label>Add image</label>
<input type="file" name="photo">




</form>