<div class="comment">
  <p><%= comment.content %></p>
  <% if (comment.imageName !== '') { %>
    <p><img src="<%= comment.imagePath %>" class="img-responsive"></p>
  <% } %>
  <p><small>Posted by</small> <%= comment.authorId.username %></p>
</div>
<hr>
