<h2>create your post here</h2>

<form action="/post" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Post title</label>
        <input type="text" class="form-control" id="title">
    </div>


    <div class="form-group">
        <label for="post">Post Text</label>
        <textarea class="form-control" id="post" rows="2"></textarea>
    </div>
    <div class='form-group'>
        <label for='input2'>File</label>
        <input name='imgFile' type='file' id='input2'>
    </div>
    <button type="submit">submit</button>
</form>