<form action="/create" method="post" enctype="multipart/form-data">
    <label for="content">Post Content</label> <br>
    <textarea rows="6" name="content" placeholder="Enter your message" required></textarea>

    <br><br>

    <label for="picture">Picture</label>
    <input type="file" name="picture">

    <br><br>

    <input type="submit" value="Create Post">
</form>