<form action="/posts/create" method="post" enctype="multipart/form-data">
    <label>Picture</label>
    <div>
        <input type="file" name="picture" required>
    </div>
    <label>Content</label>
    <div>
        <textarea name="content" id="content" required></textarea>
    </div>
    <div>
        <button>Add</button>
    </div>
</form>