<h1>NAME: {{postDetail.title}}</h1>
<img src="{{ postDetail.picture.picPath }}" alt="{{ user.picture.originalNamePict }}"
  style="border: 1px solid #ddd;  border-radius: 4px;  padding: 5px;  width: 150px;" />
<p>{{postDetail.content}}</p>