
<header class="header">
	<h2 class="header-title">Your Posts</h2>
</header>

<div class="posts-wrapper">
	{{#each posts}}
		<div class="post-item">
			<img src="{{this.picName}}" alt="">
			<p>{{this.content}}</p>
		</div>
	{{else}}
		<p>There are no posts yet! :(</p>
	{{/each}}
</div>