{{!-- <h2>here are all posts</h2>

<div class="row">
    {{#each posts}}
    <div class="col-md-3">
        <img src="{{this.imgPath}}" alt="" style="width: 100%">
        <h4>{{this.title}}</h4>
        <p>{{this.post}}</p>
    </div>
    {{else}}
    <p>No posts yet</p>
    {{/each}}
</div>
</div> --}}