
<header class="header">
	<h2 class="header-title">Your Posts</h2>
</header>

<div class="posts-wrapper">
	{{#each posts}}
      {{> post this}}
	{{else}}
		<p>There are no posts yet! :(</p>
    {{/each}}
</div>