<h1>List of Posts</h1>
{{#each post}}
<img src="{{img.path}}" alt="{{img.originalName}}">
<h2>{{content}}</h2>
<h3>Created by {{creatorId.username}}</h3>
{{/each}}

<form action="/posts" method="POST", enctype="multipart/form-data">
  <h3>Create a new post</h3>
  <br>
  <label for="content">Content</label>
  <br>
  <textarea name="content" cols="50" rows="4"></textarea>
  <br>
  <label for="img">Insert an image</label>
  <br>
  <input type="file" name="img">
  <br>
  <button>Post</button>
</form>