<h1>LISTADO DE POSTS</h1>

<ul>

  {{#each posts}}
  <div class="listContainer">
    <div class="details">
      <li><a href="/postBlog/detail/{{this.id}}">{{this.title}}</a></li>
    </div>

    <div class="actionsbuttons">
      <form action="/postBlog/{{this.id}}/delete" method="POST">
        <input class="links" type="submit" value="Delete">
      </form>
      <button class="links">
        <a href="/postBlog/edit/{{this.id}}">EDIT</a>
      </button>
    </div>
  </div>

  {{/each}}

</ul>
<br><br>
<a href="/postBlog/newpost">Add new post</a>
<br><br>
<a class="links" href="/">HOME</a>