<form action="/post/new" method="POST" enctype="multipart/form-data">
  <h2>New Post</h2>

  <label for="content">Content</label>
  <br>
  <br>
  <textarea name="content" id="content" cols="30" rows="10"></textarea>

  <br>
  <br>

  <label for="postPicture">Choose a post pic</label>
  <input type="file" name="postPicture" id="postPicture">

  <br>
  <br>

  <button type="submit">Create Post</button>

</form>