<h1>Create New Post</h1>
<form class="" action="/post/new" method="post" enctype="multipart/form-data">
  <label for="content">Content: </label>
  <input id = "content" type="text" name="content" value="">
  <br>
  <label for="picName">Pic Name: </label>
  <input id = "picName" type="text" name="picName" value="">
  <br>
  <label for="picPath"></label>
  <input id = "picPath" type="file" name="picPath" value="">
  <br>
  <button>Submit</button>
</form>
