<h1>Create New Post</h1>
<form class="" action="/post/new" method="post" enctype="multipart/form-data">
  <label for="input-content">Content: </label>
  <input id = "input-content" type="text" name="content" value="">
  <br>
  <label for="input-picName">Pic Name: </label>
  <input id = "input-picName" type="text" name="picName" value="">
  <br>
  <label for="input-picPath"></label>
  <input id = "input-picPath" type="file" name="picPath" value="">
  <br>
  <button>Submit</button>
</form>
