<div class="img-bg">
  <div class="square">
    <div>
      <form action="/uploadPost" method="post" enctype="multipart/form-data">
        <div>
          <input type="file" lang="es" name="postPic">
          <label for=""></label>
        </div>
        <div class="form-group">
          <label for=""></label>
          <textarea name="content"></textarea>
        </div>
        <button class="btn blue-grey" type="submit">Post</button>
      </form>
    </div>
  </div>
</div>