<h1> Adding a new post</h1>

<form action="/post/new" method="POST" enctype="multipart/form-data">

  <textarea id="content" name="content"rows="4" cols="50">

  </textarea> 
  <input id="title" type="text" name="picName">
  <input id="photo" type="file" name="photo">

  <input type="submit" value="Add a new post">

</form>

<a href="/post">go to list</a>