<div class="container">
  <div class="row">
    <h1>New post</h1>
    <div class="col-sm-6 centered-form">
      <form action="/post/new" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="image-name">Image name</label>
          <input type="text" name="image-name" class="form-control">
        </div>
        <div class="form-group">
          <input type="file" name="image" class="form-control">
        </div>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <button type="submit">Signup</button>
      </form>
    </div>
  </div>
</div>
