<form action="/post/new" method="post" enctype="multipart/form-data">
  <div class="image">
    <label for="image">Pick a nice picture</label>
    <input type="file" name="image">
  </div>
  <div class="content">
    <label for="content">and tell us something great!</label>
    <input type="text" name="content" placeholder="Something great here">
  </div>
    <input type="submit" value="Post!">
</form>