<form action="/post/new" method="post" enctype="multipart/form-data">
  <div class="image">
    <label for="image">New Post</label>
    <input type="file" name="image">
  </div>
  <div class="content">
    <label for="content">New Post</label>
    <input type="text" name="content" placeholder="Enter your message">
  </div>
    <input type="submit" value="Submit">
</form>