<h2>Create a new post</h2>

<a href="/post/show">See your posts</a>

<form action="/post/new" method="post" enctype="multipart/form-data">
    <label>Content</label>
    <input type="text" name="content">

    <label>CreatorId</label>
    <input type="text" name="creatorId">

    <label>Image</label>
    <input type="file" name="photo">

    <label>Image name</label>
    <input type="text" name="namePhoto">

    <input type="submit" value="SAVE">
</form>