<form action="/post/new" method="post" enctype="multipart/form-data">
    
    <label for="">Content:</label>
    <input type="textarea" name="content">

    <label for="photo">Photo</label>
    <input type="file" name="photo" class="form-control">

    <button type="submit">Create POST</button>
</form>