<h2>New Post</h2>

<form action="/post/newpost" method="POST" id="form-container">
  <label for="picName">post name</label>
  <input type="text" name="picName" placeholder="No se sae">

  <br><br>
  <textarea name="content" placeholder="Your post here"></textarea>
  <br><br>
  <button>Create account</button>
</form>