<h2>New Post</h2>
<form action="/newPost" method="POST" enctype="multipart/form-data">
  <input name="content" type="text" placeholder="Text">
  <input name="user" type="text" placeholder="User" hidden>
  <input name="photo" type="file" placeholder="File">
  <input type="submit" value="New Post">
</form>