<form action="/post/newPost" method="post" enctype="multipart/form-data">
  <div class="image">
    <label for="image">Image Post</label>
    <input type="file" name="image" required>
  </div>
  <div class="content">
    <label for="content">Message Post</label>
    <input type="text" name="content" placeholder="Enter your message" required>
  </div>
    <input type="submit" value="Submit">
</form>