<h1>NEW POST</h1>
<form action="/postBlog/newpost" method="POST" id="form-container" enctype="multipart/form-data">
  <label for="title">Title:</label>
  <br>
  <br>
  <br>
  <input type="text" name="title" placeholder="title">
  <textarea name="content" rows="20" cols="80" placeholder="Text belonging to the post"></textarea>

  <br><br>

  <input type="text" name="name">
  <input type="file" name="photo">

  <br><br>

  <input type="submit" value="Add Post">
</form>