<form action="/post/newPost" method="POST">
    <textarea name="content" id="content" placeholder="texto"></textarea>
    <label>Image</label>
    <input type="file" name="photo">
    <button>Create</button>
</form>