<div class="container">
  <h1>Crea tu Post</h1>
  <div class="row">
    <div class="col-md-6">
      <form action="/post/post-form" method="POST">
        <label for="content">Post:</label>
        <input type="text" name="content">
        <button>Crear</button>
      </form>
    </div>
  </div>
</div>