<h1>Post</h1>
<div class="container-profile">
    <div>
        <h2>{{post.author}}</h2>
        <h3>{{post.content}}</h3><br>
        <img class="img-post" src="{{post.imgPath}}" alt="{{post.imgName}}">
    </div>
    <div>
    </div>
</div>

<br><br>
<a href="../../auth/profile">Return to profile</a>