<div class="container">

  <div class="row">

    <div class="col-md-6 ">

      <form action="/post/post-form" method="POST">
          <label for="content">Escribe tu post aquí</label>
          <input type="textarea" name="content" class="form-post">
        </div>
        <button type="submit">Crear</button>
      </form>
      {{!-- <div class="error-message">{{ message }}</div> --}}
    </div>
  </div>
</div>