{{#with data}}
<h1>{{content}}</h1>
<div class="image">
  <img src="/{{picPath}}" alt="{{picName}}">
</div>
{{/with}}

<div class="list">
  <a href="/post">Back to post list</a>
  <a href="/">Back to home</a>
</div>