<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <article>
        <h2><%= post.title %></h2>
        <img src="<%= post.picPath %>" class="img-responsive">
        <div>
          <%= post.content %>
        </div>
      </article>
    </div>
  </div>
</div>
