<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>IronTumblr</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
   integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <header>

    <div class="col-sm-2" id="my-menu">
      <%  if (typeof user !== 'undefined') { %>
        <div class="headpic">
          <img src="<%= user.photoAddress %>" alt="Responsive image"  class="img-circle">
          <p>Hello, <%= user.username %> </p>
        </div>

      <% } %>
      <h3><a href="/" class="box hvr-float">Home</a><br>
      <a href="/posts" class="box hvr-float"> Posts </a><br>

      <%  if (typeof user !== 'undefined') { %>

        <a href="/profile" class="box hvr-float"> Profile </a><br>
        <a href="/posts/my-posts" class="box hvr-float"> My Posts </a><br>
        <a href="/posts/new" class="box hvr-float"> Create a Post </a><br>
        <a href="/logout" class="box-auth hvr-underline-from-left"> Log Out </a><br></h3>

      <% } else { %>

      <a href="/signup" class="box-auth hvr-underline-from-left"> Sign Up </a><br>
      <a href="/login" class="box-auth hvr-underline-from-left"> Log In </a><br>

      <% } %>
    </div>
  </header>
  <div class="col-sm-10">
    <%- body -%>
  </div>
  <div class="footer navbar-fixed-bottom">
    <p> Made by Art©</p>
  </div>
</body>
</html>
