<h2>Post</h2>

   <form action="/auth/new-post" method="POST" enctype="multipart/form-data">

  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Name">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br><br>
    <label for="imgname">Photo</label>
    <input type="file" name="photo">
    {{!-- <input type="submit" value="Save"> --}}

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>