<div>
  <h2>Hello {{user.username}}</h2>
</div>
<div>
<img class="img" src="{{user.imgname}}" alt="photo">
</div>
<div>
  <h3>** Something to say? **</h3>

<form action="/auth/post" method="POST" enctype="multipart/form-data">

  <textarea name="content" rows="10" cols="50" placeholder="Write something here"></textarea>
  <br><br>
  <label for="imgname">Photo</label>
  <input type="file" name="photo">


  <br><br>

  <button>Create Post</button>

</form>
</div>
