<body style="background-image: url('https://www.kcbsolutions.com/wp-content/uploads/2017/05/black-tumblr-wallpaper-desktop-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;">
<h2>{{title}}</h2>

<form action="{{action}}" method="POST" {{#if sign}} enctype="multipart/form-data" {{/if}}>
  <p>
    <label>Email</label>
    <input type="email" name="email" placeholder="email">
  </p>
  <p>
    <label>Password</label>
    <input type="password" name="password" placeholder="password">
  </p>
  {{#if sign}}
    <p>
      <label>Profile picture</label>
      <input type="file" name="photoURL"/>
    </p>
  {{/if}}
  <p>
    <input type="submit" value="{{title}}">
  </p>
</form>
</body>