<h1>Profile</h1>
<br><br>
<div class="card">
    <img class="card-img-top" width="50%" src="{{imgURL}}" alt="{{username}}">
    <div class="card-body">
        <h4 class="card-title">{{username}}</h4>
        <p class="card-text">{{email}}</p>
        <a class="btn btn-info" href="/">Home</a>
    </div>
</div>