<div class="container">
  <div class="row">
    {{ message }}
    <div class="col-sm-6 centered-form">
      <form action="/signup" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control">
        </div>
        <br><br>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control">
        </div>
        <br><br>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control">
        </div>
        <br><br>
        <div class="form-group">
          <label>Profile Image</label>
          <input type="file" name="imgURL" accept="image/*" class="form-control">
        </div>
        <br><br>
        <div class="btn-group">
        <button class="btn btn-info" type="submit">Signup</button>
        <a class="btn btn-primary" href="/">Home</a>
        </div>
      </form>
    </div>
  </div>
</div>