<form action="/post/comment/{{id}}" method="post" enctype="multipart/form-data">
    <label for="content">What would you like to say?</label>
    <input type="text" name="content">

<br>

    <label for="photo">Picture</label>
    <input type="file" name="photo">

    <input type="submit" value="Create Comment!">
</form>