<div class="card mb-3">
  <img class="card-img-top" src="{{imagePath}}" alt="Card image cap" width="50" height="50">
  <div class="card-body">
    <p class="card-text"><small class="text-muted"><i class="fas fa-user"></i>{{content}}</small></p>
  </div>
</div>
<hr>