<div class="card border-light mb-3">
  <div class="card-header">Comment by: {{this.authorId.username}}</div>
  <div class="card-body">
    <img class="img-thumbnail" width="150" heigth="150" src="{{this.imagePath}}">
    <p class="card-text">{{this.content}}</p>
  </div>
</div>