<form id="create" action="/profile" method="post" enctype="multipart/form-data">
  <input class="new-input" type="text" name="picName" placeholder="Title">
  <textarea class="new-input" name="content" placeholder="Description"></textarea>
  <label class="new-input" for="picPath">
    Image:
    <input type="file" name="picPath">
  </label>
  <button type="submit">Post</button>
</form>