<div class="row">
  <div id="img-card" class="col s12 m7">
    <div class="card">
      <div  class="card-image">
        <img src="{{this.picPath}}">
      </div>
      <div class="card-content">
        <p>posted by: {{this.creatorId.username}}</p>
      </div>
      <div class="card-action">
        <a href="/show/{{this.id}}">SHOW POST</a>
      </div>
    </div>
  </div>
</div>