<div class="col-xs-12">
	<div class="post-card">
		<figure>
			<div class="post-card-pic">
				<img src="{{picPath}}" alt="{{picName}}">		
			</div>
			<figcaption>
				<p class="post-card-text">{{content}}</p>
			</figcaption>
		</figure>	
	</div>
</div>