<header>
  <h1>Bienvendio a la comunidad</h1>
  <br>
  <div>
    <div>
      <p>Este espacio está diseñado para que compartas fotos, pensamientos, cosas interesantes o aburridas... Sube lo
        que quieras (siempre con moderación).</p>
      <p>Para empezar a compartir crea una cuenta e inicia sesión, si no checa que han escrito otros.</p>
      <a href="/posts"><button>Ver tododos los posts</button></a>
      <a href="/newpost"><button>Escribe un post</button></a>
    </div>
    <div>
      <img src="https://cdn.pixabay.com/photo/2015/06/08/15/11/typewriter-801921_1280.jpg" alt="Máquina de escribir">
    </div>
  </div>
</header>