<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1><br>
    {{#if req.session.passport.user}}
    <a href="/post"><button>View Posts</button></a>
    <a href="/post/create"><button>Create Post</button></a>
    <a href="/logout"><button>Logout!</button></a>
    {{else}}
    <a href="/signup"><button>Sign Up!</button></a>
    <a href="/login"><button>Login!</button></a>
    <a href="/post"><button>View Posts</button></a>
    {{/if}}
  </body>
</html>
