<h1>Welcome Ironhacker!</h1>
{{#each allPosts}}
  <div class="card">
    <img src="" alt="Image placeholder">
    <b>{{picName}}</b>
    <p>{{content}}</p>
    <small>{{creatorId.username}}</small>
  </div>
{{/each}}
<a href="/new">Create a New Post</a>