<h1>{{title}}</h1>
<p>Welcome Ironhacker!</p>

{{#each post as |post|}}
  <img src="{{post.path}}" alt="photoPost">
  <p>{{post.content}}</p>
{{/each}}

<!--esto es para iterar en las cards para crear los posts -->