<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>You are logged in</h1>
    <div>
    <img src="{{user.photoURL}}" alt="">
    </div>
  </body>
</html>
