<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/post/new"><h3>Create new post</h3></a>
    <a href="/post/index">See Posts</a>
  </body>
</html>
