<h1>{{title}}</h1>
<p>Welcome Ironhacker!</p>
<br>


<h2>Latest posts</h2>
  {{#each posts as |post|}}
      <a href="/post/{{post._id}}">
          <img src="{{post.picPath}}" height="50px" alt="">
          {{post.content}}
      </a><hr>
  {{/each}}

