<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the horror</h1>

    Here is a list of things that work:
    <ul>
      <li><a href="/signup">The signup</a> works (about 1/3rd of the time, don't know why)</li>
      <li>You can access your <a href="/profile">profile</a> (but your avatar won't display)</li>
      <li><a href="/logout">Log out</a></li>
      <li>...</li>
  </body>
</html>
