<div class="container">
  <div class="row">
    <h2>Carga un Nuevo Post</h2>
    <div class="col-sm-6 centered-form">
      <form action="/post/new" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="photo">Cover Picture</label>
          <input type="file" name="photo" class="form-control-file">
        </div>
        <div class="form-group">
          <label for="picName">Post Name</label>
          <input type="text" name="picName" class="form-control">
        </div>
        <div class="form-group">
          <textarea name="content" cols="30" rows="10" placeholder="Write a Post" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Post</button>
      </form>
    </div>
  </div>
</div> 