<h1>Create your post</h1>
<form action='/post-form' method='POST' enctype="multipart/form-data">
  <label for='content'>Content</label>
  <input type='text' name='content'/>
  <label for='picName'>Picture</label>
  <input type='file' name='picName'/>
  <button type='submit'>Create your post</button>
  </form>