<form action="/post-form" method="POST" enctype="multipart/form-data">
  <label for="image">Image</label>
  <input type="file" name="image" id="image">
  <label for="image">Image name</label>
  <input type="text" name="picName" id="picName">
  <input type="text" name="creatorId" id="creatorId" hidden>
  <label for="content">Content</label>
  <textarea name="content" id="content" cols="30" rows="10"></textarea>
  <input type="submit" value="Post">
</form>