<div class="container">
    <div class="row">
      <div class="col-sm-6 centered-form">
        <form action="/createpost" method="post">
          <div class="form-group">
            <label for="content">New Post</label>
            <input type="text" name="content" class="form-control">
          </div>
          <br>
          <button type="submit">New</button>
        </form>
      </div>
    </div>
  </div>
  