<h2>Profile view</h2>
<div class="container">
    <form action="/profile/new" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="content">Content</label>
            <input type="text" class="form-control" id="content" name="content">
        </div>
        <div class="form-group">
            <label for="image">Foto</label>
            <input type="file" accept="image/*" name="image" class="form-control" id="image" name="content">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>