/*  Titles and subtitles: font-family: 'Raleway', sans-serif;
    Body: font-family: 'Work Sans', sans-serif;
    Redish: rgb (150, 29, 78)
    Dark blue: rgb (44, 87, 132)
    Light blue: rgb (86, 136, 199)*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Work+Sans:wght@400;700&display=swap');

:root {
  --redish: rgb(150, 29, 78);
  --darkblue: rgb(44, 87, 132);
  --lightblue: #43a3e6;
}

body {
  margin: 0; }


/* Nav bar */
#to-left {
  float: left;
}
  
#to-left p a {
  color: white;
  font: 2.5em 'Raleway', sans-serif;
  font-weight: bold;
}

ul {
  height: 12vh;
  padding: 3vh 3vw;
  list-style-type: none;
  background-color: var(--lightblue);
  position: fixed;
  width: 100%;
}

#to-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  float: right;
  width: 20vw;
  position: relative;
}


#to-right a{
  color: white;
  font-size: 1.5em;
}

/* Header */

header {
  padding: 18vh 3vw 3vh;
}

header>h1,
main>h2 {
  color: var(--darkblue);
  font: 3em 'Raleway', sans-serif;
}

header>div{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

header img{
  width: 45vw;
}

header p {
  width: 35vw;
  text-align: justify;
  font: 20px 'Work Sans', sans-serif;  
}

header button{
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  width: 45%;
  margin: 40px 8px;
  background:var(--lightblue);
  border: 1px solid var(--lightblue);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  text-decoration: none;
}

main{
  padding: 18vh 3vw 3vh
}

/*Cards*/
.card img{
  width: 25%;
  height: auto;
}

main .btn{
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  width: 50%;
  margin: 10px auto;
  background:var(--lightblue);
  border: 1px solid var(--lightblue);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  text-decoration: none;
}


/* Card details */

.detail{
  display: flex;
  align-content: space-around;
  width: 100%;
}

.detail img{
  width: 35%;
  height: auto;
}

.detail>div{
  margin: 5vh 10vw;
  font-size: 20px;
}

a {
  text-decoration: none;
  font-size: 1.5em;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  /* width: 100%; */
}

form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}



#logout-form {
  margin: 0;
  padding: 0;
  width: auto;
}

#logout-form button {
  width: auto;
  text-transform: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #00b7ff;
  font-size: 1.5em;
  display: inline-block;
  margin: 0;
}

#to-right span {
  color: #43a3e6;
  font-size: 1.5em;
}

#form h2 {
  display: flex;
  justify-content: center;
}


