body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  --iblue: #43a3e6;
}

a {
  color: #43a3e6 !important;
  text-decoration: none;
  font-size: 1.5em;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  /* width: 100%; */
}

form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--iblue);
  height: 50px;
  padding: 1em 0;
  list-style-type: none;
}

ul li {
  line-height: 20px;
}

#to-right {
  display: flex;
}

#logout-form {
  margin: 0;
  padding: 0;
  width: auto;
}

#logout-form button {
  width: auto;
  text-transform: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--iblue);
  font-size: 1.5em;
  display: inline-block;
  margin: 0;
}

#to-right span {
  color: #43a3e6;
  font-size: 1.5em;
}

#form h2 {
  display: flex;
  justify-content: center;
}

#to-left {
  float: left;
}

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
}

#post-list-container {
  width: 80vw;
  margin: auto;
  text-align: center;
}

.post-card {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  border: 1px solid rgb(224, 224, 224);
}

.post-card-author-img {
  max-width: 100px;
  height: auto; 
}

.post-card-post-img {
  width: 80%;
  height: auto;
  margin: 1rem auto;
}

.create-post-btn {
  padding: 0.8rem;
  color: var(--iblue);
  border: 1px solid var(--iblue);
  border-radius: 5px;
}

.profile-card {
  padding: 2rem;
  border: 1px solid rgb(224, 224, 224);
}

.profile-left {
  text-align: center;
  width: 100%;
  margin: auto;
}

.profile-img {
  max-width: 100px;
  height: auto; 
}