body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  --iblue: #43a3e6;
}

a {
  color: #43a3e6 !important;
  text-decoration: none;
  font-size: 1.5em;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  /* width: 100%; */
}

form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--iblue);
  height: 50px;
  padding: 1em 0;
  list-style-type: none;
}

ul li {
  line-height: 20px;
}

#to-right {
  display: flex;
}

#to-right a {
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
}

#logout-form {
  margin: 0;
  padding: 0;
  width: auto;
}

#logout-form button {
  width: auto;
  text-transform: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--iblue);
  font-size: 1.5em;
  display: inline-block;
  margin: 0;
}

#to-right span {
  color: #43a3e6;
  font-size: 1.5em;
}

#form h2 {
  display: flex;
  justify-content: center;
}

#to-left {
  float: left;
}

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
}

#post-list-container {
  width: 80vw;
  margin: auto;
  text-align: center;
}

.post-card {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 20px;
  margin: 10px;
  background-color: var(--iblue);
}

.post-card-author-img {
  max-width: 100px;
  height: auto; 
}

.post-card-post-img {
  width: 40%;
  height: auto;
  margin: 1rem auto;
}

.create-post-btn {
  padding: 0.8rem;
  color: var(--iblue);
  border: 1px solid var(--iblue);
  border-radius: 5px;
}

.profile-card {
  padding: 2rem;
  border: 1px solid rgb(224, 224, 224);
}

.profile-left {
  text-align: center;
  width: 100%;
}

.profile-img {
  max-width: 100px;
  height: auto; 
}

#create-your-post {
  background-color: rgba(142, 217, 225, 0.413);
  list-style-type: none;
  text-decoration: none;
  box-shadow: 2px 2px 10px 0 rgb(36, 101, 152);  ;
}

.pic-name {
  border-bottom: 2px solid rgba(0, 11, 111);
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: rgba(241, 248, 255, 0.2);
  font-weight: bold;
}

.card-text {
  border: 3px solid rgb(203, 207, 255);
  background-color: rgb(223, 225, 255);
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.comments-length {
  padding-top: 10px;
  margin-bottom: 15px;
}

.view-post {
  color: black !important;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none !important;
  box-shadow: 2px 2px 10px 0 rgb(36, 101, 152);  ;
}

.comment-form {
  border: 1px solid white;
  border-radius: 10px;
  background-color: aliceblue;
}

.comment-padding {
  padding-left: 20px;
}

.comment-flex {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 180px;
}

.specific-post {
  background-color: rgb(161, 211, 255);
  border-radius: 20px;
  padding: 50px;
  margin-bottom: 20px;
}

.post-card h2 {
  margin: 30px;
}

.post-image-margin {
  margin-top: -50px;
}

.post-form {
  border: 1px solid rgb(38, 123, 198);
  background-color: rgb(161, 211, 255);
  box-shadow: 2px 2px 10px 0 rgb(36, 101, 152);  ;
}
.user-profile {
  border: 1px solid rgb(38, 123, 198);
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0 rgba(36, 102, 152, 0.742);  ;
}

.user-pic-name {
  border-bottom: 2px solid rgba(0, 11, 111);
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  background-color: rgba(241, 248, 255, 0.2);
  font-weight: bold;
}