body {
  padding: 50px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: rgb(13, 91, 122);
  text-decoration: none;
  margin-right: 20px; 
}

div {
  margin: 20px;
}
