    #profilePicture {
        border: 5px solid #ddd;
        width: 150px;
        float: left;
        margin-left: 150px;
        margin-top: 25px;
    }
    
    .dataUser {
        display: inline;
        font-weight: normal;
        text-align: center;
        margin-left: 125px;
    }
    
    h2,
    .welcome {
        margin-left: 150px;
        color: #43a3e6;
        font-weight: bold;
        font-size: 44px;
        margin-top: 50px;
        text-align: center;
    }
    
    .registro {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    
    .container,
    h3,
    .createPostdata {
        text-align: center;
    }