<h2>Create</h2>

<form action="/create" method="POST" enctype="multipart/form-data">
CreatorId: <input type="text" name="creatorid">
<p>
Content: <input type="textarea" size="200" name="content">
</p>

<p>
<label for="image">Image:</label>
<input type="file" name="photo">
<input type="submit">
</p>
</form>