<h1>Username:  {{username}}</h1>
<p>email: {{email}}</p>
<img src="{{profilePhoto}}" width="250">
<br>
<a href="/post/new"> ADD A NEW POST</a>
<br>
<a href="/post/profile/{{_id}}">VIEW MY POSTS</a>
<br>
<a href="/post"> VIEW POST LIST</a>
<br>
<a href="/auth/logout">LOG OUT</a>

