<h4>Publish your photos</h4>
<form action="/profile/post" method="post" enctype="multipart/form-data">
    <input type="file" name="photo">
    <input type="text" name="picName" placeholder="name your picture">
    <textarea name="content" id="" cols="30" rows="10"></textarea>
    <button>Save</button>
</form>