<body style="background-image: url('https://www.kcbsolutions.com/wp-content/uploads/2017/05/black-tumblr-wallpaper-desktop-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;">
<h2>Comments</h2>
{{#each comments as |comment|}}
  <img src="{{comment.imagePath}}" width="400" />
  <p>{{comment.imageName}}</p>
  <p>{{comment.authorId}}</p>
  <p>{{comment.content}}</p>
{{/each}}
<a href="/">Home Page</a>
</body>