<div class="container-fluid">
    <div class="home-heading text-center row">
        <div class="home-heading-wrapper">
            <h1>Post anything you want.</h1>
            <p>Thumblr a good plataform to give your opinion.</p>
            <a class="btn btn-default" href="/posts">Wiew POSTS</a>
        </div>
    </div>
</div>