<h2>HERE YOU ADD THE POST </h2>

<form  action="/add" method="post" enctype="multipart/form-data">
  <textarea name="content" cols="10" rows="5"></textarea>
  <input type="file" name="photo">
  <button type="submit" name="button">Send</button>
</form>
