<form action="/comment/{{id}}" method="post" enctype="multipart/form-data">
<div id="commentbox">
      <label for="">Comment</label>
      <br>
      <textarea name="content" id="comment-box" cols="50" rows="10" placeholder="Post your comment"></textarea>
      <br>
      <label for="">Add image</label>
      <input type="file" name="photo">
      <button type="submit" >Sumbit</button>
      </div>
      </form>
