<h2>New Comment</h2>
<form action="/comment/<%=user._id%>" method="post" enctype="multipart/form-data">
  <textarea name="content" cols="40" rows="5"></textarea>
  <input type="file" name="photo">
  <input type="submit" value="Save">
</form>
</section>
