<h1>Crear un comentario</h1>

<form action={{action}} method="POST" enctype="multipart/form-data">
    <label for="content">Escribe tu comentario</label><br>
    <textarea name="content" type="text" id="" cols="30" rows="10"></textarea> <hr><br>
    <input type="file"  name="photo">
    <input type="submit" value="subir">
    

</form>
<a href="/index">Ir a posts</a>
