<h2>Create new post</h2>

<form action="/create" method="post" enctype="multipart/form-data">
    <textarea name="content" placeholder="Escribe el contenido"></textarea>
    <br><br>
    <input type="file" name="picPath">
    <br><br>
    <input type="submit" value="Postear">
</form> 