<form action="/create" method="post" enctype="multipart/form-data">
  <div>
    <label for="content">content</label>
    <input type="text" name="content" class="form-control">
  </div>
  <div>
    <label for="photo"></label>
    <input type="file" name="photo" id="photo" accept="image/*">
  </div>
  <button type="submit">Create Post</button>
</form>