<h2>Create New Post</h2>

<form action="/create" method="post" enctype="multipart/form-data">
  <textarea name="content" placeholder="Write your post here"></textarea>
  <br>

  <input type="file" name="picPath">
  <br> 

  <input type="text" name="picName">
  <br>

  <input type="submit" value="New Post">
</form>