<h2>Create a new</h2>

<form action="/create" method="POST" enctype="multipart/form-data">
    <textarea name="content" placeholder="Text your new post here" ></textarea>
    <br>
    <input type="file" name="picPath" >
    <br>

    <input type="submit" value="Create Post" >
</form>