<h2>Create New Post</h2>
<br><br>
<form action="/create" enctype="multipart/form-data" method="post">
<textarea name="content" placeholder="Write your post here" id="" cols="30" rows="10"></textarea>
<br><br>
<input type="file" name="picPath" id="">
<br><br>
<input type="submit" value="Submit">

</form>