<h2>Create Post</h2>
<form action="/create" method="post" enctype="multipart/form-data">
  <label>PicName</label>
  <input type="text" name="picName">
  <label>Content</label>
  <input type="text" name="content">

  <label>Image</label>
  <input type="file" name="photo">

  <input type="submit" value="Upload">
</form>