<h1>Create a new Post</h1>
<form action="/create" method="post" enctype="multipart/form-data">
  <label for="entry">Write the text</label>
  <textarea name="content" id="" cols="50" rows="20"></textarea>
  <input type="file" name="photo">
  <input type="submit" value="Send">
  
</form>