<h2> Create a Post </h2>
<form action="/create" method="post" enctype="multipart/form-data">
  <label for="content">Content</label>
  <input type="text" name="content" id="">
  <label for="name">Name</label>
  <input type="text" name="picName" id="">
  <label for="post">Photo</label>
  <input type="file" name="photo" id="">
  <input type="submit" value="save">
</form>