<section>
    <h2>Upload your photo on /uploads directory</h2>
    <form action="/files/upload-local" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Incluye la descripcion de la imagen"><br>
        <input type="file" name="phototoupload" multiple><br>
        <input type="submit" value="Save"><br>
    </form>
</section>