<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <br>
    <br>
    <button  ><a href="/signup">Registrate</a> </button>
    <button  ><a href="/login">Iniciar Sesion</a> </button>
  </body>
</html>
