<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <%posts.forEach((p)=>{%>
      <p><%= p.content %></p>
        <img src="/uploads/8bdda08724e0b39b7e13ee6ffcb7fc73">
    <%})%>
    <form  action="/logout" method="post">
      <button>LogOut</button>
    </form>
    <a href="/add">Add New Post </a>

  </body>
</html>
