<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>


  <body>

   
    <div class="initial">
    <h1 class="title-index">Upload your photos and participate</h1>
    <img src="http://www.paellacreativa.com.ar/wp-content/uploads/2015/09/camara_de_fotos_logo_24.jpg">


    </div>



  </body>
</html>
