<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to IronTumblr</h1>

  <a href="/authentication/signup"> Sign up |</a>
  <a href="/authentication/login"> Login |</a>
  <a href="/authentication/logout"> Logout |</a>
  <a href="/authentication/profile"> MyProfile |</a>
  <a href="/posts/new"> New Post </a>

  <article>
    <img src="{{this.picPath}}" alt="">
    <h6>Author:</h6>
    <p>Content:</p>
  </article>



</body>

</html>