<h1>Express | IronTumblr</h1>
<hr>
<div class="container">

  <div class="row">
    {{#each allPost}}
    <div class="col-4">
      <div class="card" id="card2" style="width: 18rem;">
        <img class="card-img-top" id="card1" src="{{picPath}}" alt="picture">
        <a href="/details/{{_id}}" class="btn btn-primary">see more</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>
</body>

</html>