<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="center">
    <h1 class="white">Welcome to IronTumblr</h1>
    <h3><a href="/post" class="btn blue">See all the Posts!</a></h3>
    </div>
  </body>
</html>
