<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    {{#if posts}}
      <ul>
      {{#each posts}}
        <li>Text: {{content}} - </li>
        <img src="/{{picPath}}" alt="">
      {{/each}}
      </ul>
    {{/if}}
    <a href="/login">Log in</a>
  </body>
</html>
