<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to Ironhack-Tumblr</h1>
  <br>
  <button><a href="/login"> LOGIN </a></button>
  <p>or</p>
  <button><a href="/signup"> SIGNUP </a></button>
</body>

</html>