<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <p><a href="/signup">Signup</a> </p>
    <p><a href="/login">Login</a> </p>
     <p><a href="/logout">logout</a> </p>
  </body>
</html>
