<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
      <a href="/signup">Registrate</a> | 
      <a href="/login">Inicia sesión</a> | 
      <a href="/logout">Desconexión</a> | 
      <a href="/profile">Accede a tu area privada</a>
  </body>
</html>
