<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
     <% if(typeof user !== 'undefined') { %>
         <h2>Hello, <%= user.username %></h2>
         <img style="width: 200px;" src="<%= user.userpic %>">
         <br>
          <a href="/posts/new">Create Post</a>
     <% } %>
        <br>
         <a href="/posts/index">See All Posts</a>
  </body>
</html>
