<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to IronTumblr</h1>
  <ul>
    <li>
      <a href="/signup"> Sign up!</a>
    </li>
    <li>
      <a href="/login">Log in!</a>
    </li>
    <li>
      <a href="/logout">Log out!</a>
    </li>
  </ul>
</body>

</html>