<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

      <br><br>
      <a href="/login">Login</a><br><br>
      <a href="/signup">Signup</a><br><br>
      <a href="/logout">Logout</a>

</body>
</html>
