<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <form action="/uploadCloud" method="post" enctype="multipart/form-data"></form>
    <h2>Upload your photo</h2>
    <input type="text" name="name">
    <input type="file" name="photo">
    <input type="submit" value="Save">
</form>

<img src="/uploads/b31e5333bd82c12d8b73c8c6284d59e6" width=200>   
  </body>
</html>
