<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <br>
    <a href="/signup">Go to Sign up</a>
    <br>
    <br>
    <br>
    <a href="/login">Go to Log in</a>
    <br>
    <br>
    <br>
    <a href="/logout">Logout</a>
  </body>
</html>
