<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
    <a href="/login">Login</a>
  <a href="/signup">Signup</a>
  <a href="/logout">Logout</a>
</nav>
    <h1>Welcome to IronTumblr</h1>
  </body>
</html>
