<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <form  action="/logout" method="post">
      <button type="submit" name="button">Logout</button>
    </form>
    <a href="/login">login</<a><br>
    <a href="/signup">signup</<a>
  </body>
</html>
