<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <nav>
      <a href="/login">login</a>
        <a href="/signup">signup</a>
       <a href="/logout">logout</a>
    </nav>
<section>
  <section>
  {{#each pictures}}
    <h3>{{ this.name }}</h3>
    <img src="{{ this.path }}" alt="{{ this.originalName }}" />
  {{/each}}
</section> 
 
</section>
  </body>
</html>
