<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    {{#if user}}
      <div class="signup">
        <a href="/signup">Signup</a>
      </div>
      <div class="login">
        <a href="/login">Login</a>
      </div>
    {{else}}
      <div class="posts">
        <a href="/post">View posts</a>
      </div>
      <div class="logout">
        <a href="/logout">Logout</a>
      </div>
    {{/if}}
  </body>
</html>
