<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <br>
    <a href="/login">LOGIN</a>
    <p>or</p>
    <a href="/signup">SIGNUP</a>
  </body>
</html>
