<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <h2>Posts:</h2>
    {{#each post}}
      <p>{{this.content}}</p>
      <img src="{{this.picPath}}" alt="">
      <button><a href="/post/{{this._id}}"> Show more </a></button>
    {{/each}}
  </body>
</html>
