<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="https://cdn.worldvectorlogo.com/logos/tumblr.svg" alt="" width="30%">
    <br>
    <a href="/login">LOGIN</a>
    <a href="/signup">SIGNUP</a>
    <a href="/profile">PROFILE</a>
    <a href="/logout">LOGOUT</a>
</html>
