<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <a href="/posts">See posts</a>
    <a href="/login">Log in here...</a>
    <a href="/logout">Log out here...</a>
  </body>
</html>
