<h1>Welcome to IronTumblr</h1>


{{#if user}}

<a href="/auth/logout">LOG OUT</a>

<a href="/auth/profile">VIEW MY PROFILE</a>


{{else}} 
<a href="auth/login">LOG IN</a>
<a href="auth/signup">SIGN UP</a>
<a href="/post">VIEW POSTS</a>


{{/if}}