<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>Welcome to IronTumblr</h1>
    <br>
    <a href="/login">LOGIN</a>
    <a href="signup">SIGNUP</a>
    <a href="profile">PROFILE</a>
    <a href="/logout">LOGOUT</a>
  </body>

</html>