<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to IronTumblr</h1>
</body>
<ul>
  <li>(<a href="/signup">signup</a>)</li>
  <li>(<a href="/login">login</a>)</li>
  <li>(<a href="/logout">logout</a>)</li>
</ul>

</html>