<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>

    <a href="/logout">Log out</a>
    <a href="/login">Log in</a>
    <a href="/signup">Signup</a>

    {{#each user}}
    <h2>User: {{username}}</h2>
    {{/each}}
  </body>
</html>
