<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to IronTumblr</h1>
  <br>
  <br>

  <div></div>
  <div id="timeline">
      <% if (users.length > 0) { %>
          <% users.forEach(function(user) { %>
              <div class="post-container">
                  <label>Sigue a </label><p><%= user.username %></p>
              </div>
              <a href="profile/<%= user._id %>">Ir</a>
              <br>
      <% }) %>
      <% } else { %>
          <div>
              <p>No users yet</p>
          </div>
      <% } %>
  </div>



            <a href="/login">Log In</a>
            <br>
            <br>
            <a href="/signup">Sign Up</a>

            <a href="/logout">Log Out</a>

</body>

</html>