<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
        <a href="/login" style="color:grey">Sign in</a>  
        <a href="/authentication/signup" style="color:blue">Sign up</a> 
        <a href="/post" style="color:red">Upload post</a> 
  
  </body>
</html>
