<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>

    <form action="/" method="post">
      <button type="submit">NEW</button>
    </form>
{{#if data}}
    <form>
        <textarea class = "text" type="text"> 
        </textarea>
        <button>Crear</button>
    </form> 
{{/if}}


  </body>
</html>
