<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <div id="container">
      <h2>Abandon all faith, @<%= username %>!</h2>
      <ul>
          <% posts.forEach((post) => { %>
              <li>
              <%= post.username %>
              <br>
              <br>
              <%= tweet.postContent %>
              </li>
          <%  }) %>
       </ul>
     </div>
  </body>
</html>
