<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <% if(user) { %>
      
      <button><a href="/profile/<%= user._id %>">Profile</a></button>
    <% } %>
  </body>
</html>
