<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Welcome to IronTumblr</h1>

    <a href="/signup"> Sign up </a>
    <br>
    <a href="/login"> Log in </a>

  </body>
</html>
