<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <a href="/login">Login</a>
    <a href="/signup">signup</a>
  </body>
</html>
