<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/signup">Sign Up</a>
      <a href="/login">Log In</a>
      <a href="/post">New Post</a>
    </nav>
    <h1>This is IronTumblr!!</h1>


  </body>
</html>
