<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <ul>
      <li><a href="/login">Log in</a></li>
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/logout">Log out</a></li>
      <li><a href="/profile">My profile</a></li>
    </ul>
  </nav>
  <h1>Welcome to IronTumblr</h1>

    {{#if data}}
    <div>
      <h1>Comments: </h1>
      <br>
      <p>{{data.content}}</p>
      <img src="{{data.imgPath}}" alt="{{data.imgName}}" width="300px">
    </div>
    {{/if}}
  </div>

</body>

</html>