<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <section>
    <a href="/logout">Log Out</a>
</section>
  </body>
</html>
