
  <div class="container main-content">
      <div class="row">
          <h1 class="col-12 text-center">Welcome to IronTumblr</h1>
      </div>
      <div class="row">
          <div class="col-5"></div>
          <div class="controls col-2  py-3">
              <a role="button" href="/signup" class="btn btn-primary" >SignUp</a>
              <a role="button" href="/login" class="btn btn-success" >Login</a>
          </div>
      </div>
  </div>

