<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <a href="/login">Log In</a>
    <p>If you don´t have an account <a href="/signup">Sign up</a></p>
    <a href="/logout">Log Out</a>
    {{#each posts}}
    <div>
          <h5>{{this.content}} has post:</h5>
          
          <img src="{{this.picPath}}">
          
    </div>
    {{/each}}
  </body>

</html>
