<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>

    <img src="uploads/${user.picture}" width="80" >

    <a href="/posts">Posts</a>

    <a href="/signup">Signup</a>
    <a href="/login">Login</a>

    <a href="/logout">Logout</a>

  </body>
</html>
