<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>

    {{#if user}}
    <h2>{{user.username}}</h2>
    <img src="{{user.picture}}" width="300px">
    {{/if}}
  </body>
</html>
