<div class="post-list">

  {{#each posts}}
  <div class="post-item">
    <img src="{{this.picPath}}" alt="{{this.picName}}">
    <p>{{this.content}}</p>
    <a href="/post/{{this._id}}">View detail</a>
  </div>
  {{/each}}

</div>