<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to IronTumblr</h1>
  <sec>
    <a href="/login">Log in</a>
    <a href="/logout">Log out</a>
  </sec>
  <sec>
    <a href="/new">New Post</a>
  </sec>

</body>

</html>