<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <a href="/signup">Signup</a><br><br>
    <a href="/login">Login</a><br><br>
    <a href="/logout">Logout</a><br><br>
    <a href="/posts/list">Posts</a><br><br>

  </body>
</html>
