<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    {{#if user}}
    <a href="/profile" class="btn btn-light">Profile</a>
    {{else}}
    <a href="/signup" class="btn btn-light">Sign up</a>
    <a href="/login" class="btn btn-light">Log in</a>
    {{/if}}
  </body>
</html>
