<h1> Something to say??</h1>
<dir>
  <ul class="post">
  {{#each allPosts}}
  <li>{{this.content}}</li>
  <li>{{this.author}}</li>
  <li> <img class="img2" src="{{this.phot}}" alt="photo"> </li>
  {{/each}}
</ul>
</dir>


