<h1>Welcome to IronTumblr</h1>

<div class="row justify-content-center">

  {{#each allPosts}}
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img src="{{picPath}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">By: {{creatorId.username}}</h5>
        <p class="card-text">{{content}}</p>
        <a href="/surprise" class="btn btn-primary">Ver detalle</a>
      </div>
    </div>
  </div>
  {{/each}}

</div>