<div class="container">
<h1>Post Feed</h1>

{{#each posts}}
<div class="container postContainer">
<img with="500" height="300" src={{this.picPath}} alt="">
<p>{{this.content}}</p>
</div>
{{/each}}

</div>

