<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="./signup">Sign Up</a> || <a href="./login">Log In</a>
    <h1>Welcome to IronTumblr</h1>
    
  </body>
</html>
