<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to IronTumblr</h1>
  <nav>
    <a href="/">Inicio |</a>
    <a href="/authentication/login">| Iniciar sesión |</a>
    <a href="/authentication/signup">| Registrarse |</a>
    <a href="/logout">| Cerrar sesión |</a>
    <a href="/main/layout">| Añadir Posts</a>
  </nav>

</body>

</html>