<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>

    {{#unless user}}
      <a href="/login">Login</a><br><br>
      <a href="/signup">Sign Up</a><br><br>
    {{/unless}}

    {{#if user}}
      <h3>Welcome {{user.username}}</h3>
      <a href="/create">Create Post</a><br><br>
      <a href="/post">See post</a><br><br>

      
      <a href="/logout">Log Out</a><br><br>

    {{/if}}


  </body>
</html>
