<!-- cover -->
<section class="cover" style="">
    <article>
        <h1>!Tu salud es <b> primero</b>!</h1>
    </article>

    <br />
    <article>
        <h2>¿Qué estas buscando?</h2>
    </article>

    <br />

    <form action="">
        <select name="" id="doctor">
            <option value="Doctor">Doctor</option>
            <option value="Enfermera">Enfermera</option>
        </select>

        <select name="" id="especialistas">
            <option value="Especialistas">Especialistas</option>
            <option value="Acupuntura">Acupuntura</option>
            <option value="Alergología">Alergología</option>
            <option value="Anestesiología">Anestesiología</option>
            <option value="Cardiología">Cardiología</option>
            <option value="CirugíaEstéticayCosmética">Cirugía Estética y Cosmética</option>
            <option value="Cirugía General">Cirugía General</option>
            <option value="Dermatología">Dermatología</option>
            <option value="Endocrinología">Endocrinología</option>
            <option value="Fisioterapia">Fisioterapia</option>
            <option value="Acupuntura">Acupuntura</option>
        </select>

        <button onclick="location.href='RESULTADO DE BUSQUEDA'">
            Buscar <span uk-icon="icon:search"></span>
        </button>
    </form>

</section>