<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
  </body>
</html>

<a href="/signup">Sign Up</a><br><br>
<a href="/login">Log In</a><br><br>
<a href="/profile">My profile</a><br><br>
<a href="/post/post-list">Posts</a><br><br>
<a href="/post/new-post">Add Post</a><br><br>
<a href="/logout">Log Out</a><br><br>
