<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  
  {{!-- <div>
    <a href="/login">login</a>
    <a href="/signup">signup</a>
    <a href="/logout">logout</a>
    <a href=""></a>
  </div> --}}
  <h1>Welcome to IronTumblr</h1>
</body>

</html>