<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div>
    {{#if user}}
    <a href="/post/new">
      <button class="btn btn-primary btn-sm">New Post</button>
    </a>
    {{/if}}
  </div>
  <div class="row posts">
    {{#if posts}} 
    {{#each posts}}
    
    <div class="col-md-10">
      <a href="/post/show/{{_id}}">
        <div class="post">
          <div>
            <img src="{{picPath}}" alt="pic">
          </div>

          <span>{{content}}</span>
        </div>
      </a>
    </div>
    {{/each}} 
    {{/if}}
  </div>

</body>

</html>
