<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
      <a href="/signup">Sign Up Here</a><br>
      <a href="/login">Log In Here</a>
    </form>
  </body>
</html>
