<a href="/login">Login</a>
<a href="/signup">Sign up</a>
<a href="/profile">Go to profile</a>
<h1>All posts</h1>
{{!-- {{#unless posts}}
  <p>There are no posts</p>
{{/unless}}
{{#if posts}}
  {{#each posts}}
  {{/each}}
{{/if}} --}}