<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to Iron</h1>
  <section>
    <a href="/login">Log in</a>
    <a href="/logout">Log out</a>
  </section>
  <section>
    <a href="/new">New Post</a>
  </section>
  <div>
    {{#each posts}}
    <p>{{this.content}}</p>
    <img src="{{this.picPath}}" alt="">
    {{/each}}
  </div>
</body>

</html>