<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/Users/SamGlez/IRONHACK/w5/lab-file-upload/starter-code/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Users/SamGlez/IRONHACK/w5/lab-file-upload/starter-code/node_modules/jquery/dist/jquery.min.js"></script>
    </script>
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
  </body>
</html>
