<div class="container">
  <h1 class="title">Post Feed</h1>
  {{#unless posts}}
  <p>There are no post</p>
  {{/unless}}


  <div class="container postContainer">
    {{#each posts}}
    {{> postCard this}}
    {{/each}}
  </div>


</div>