<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr {{myInfo.username}}</h1>
<p><a href="/logout">logout</a> | <a href="/login">login</a> | <a href="/signup">signup</a></p>

    <img src = "{{myInfo.path}}"alt ="">
  </body>
</html>
