<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <a href="/signup">Go to signup</a>
    <a href="/login">Go to login</a>
    <form class="" action="/logout" method="post">
      <button type="submit" name="button">Logout</button>
    </form>
  </body>
</html>
