<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <ul id = "lista">
      <li class = "lista1"><a href="/signup">SignUp</a></liclass>
      <li class = "lista1"><a href="/profile">profile</a></li>
      <li class = "lista1"><a href="/logout">LogOut</a></li>

    </ul>
  </body>
</html>
