
    <h1>Welcome to IronTumblr</h1>

    <a href="/logout">Log out</a>
    <a href="/login">Log in</a>
    <a href="/signup">Signup</a>

  {{#if user}}
    <h2>Hello {{user.username}}!</h2>
    <img src="{{imgPath}}" width="200">
    <a href="/newpost">Make new post</a>
 {{/if}}

 {{#each posts}}

 {{/each}}
