<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1><br><br>
    <a href="/login">Log In</a><br><br>
    <a href="/signup">Sign Up</a>

  </body>

</html>
