<div class="container">
<h1>Post Feed</h1>
{{#unless posts}}
<p>There are no post</p>
{{/unless}}

{{#each posts}}
<div class="container postContainer">
<img class="postImg" src={{this.picPath}} alt="">
<p>{{this.content}}</p>
<p>Post creado por {{this.creatorId.username}}</p>
</div>
{{/each}}

</div>

