<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>Welcome to IronTumblr</h1>
  </body>

  <div class="container">
    {{#each allPost}}
    <img src="{{picPath}}" alt="Profile image">
    <h3>Nombre de usuario {{picName}}</h3>
    <p>Post {{content}}</p>
    {{/each}}
  </div>

</html>