<section id="navBar">
  <div>
    <h1>IronTumblr</h1>
  </div>
  <div>
    {{#if user}}
    <a href="/userPosts">My posts</a>
    {{/if}}
  </div>
  <div>
    {{#if user}}
    <a href="/logout">Logout</a>
    {{else}}
    <a href="/signup">Sign Up</a>
    <a href="/login">Login</a>
    {{/if}}
  </div>

</section>

<section id="mainPage">

  <div class="page-button" style="">
    <h2>Posts</h2>
    {{#if user}}
    <a href="/new">New Post</a>
    {{/if}}
  </div>
  </div>

  <section id="posts">
    {{#each posts}}
    <div class="post-data">
      <a href="/show/{{this._id}}"><img src="{{this.picPath}}" alt=""></a>
      <h1></h1>
      <p>{{this.content}}</p>
    </div>
    {{/each}}
  </section>
</section>