<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>IronTumblr</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <nav>
    {{#if user}}
    <div>
      <a href="/">Main | </a>
      <a href="/profile">Profile | </a>
      <a href="/profile/post">PostPhotos</a>
    </div>
    <form action="/logout" method="POST">
      <button>Logout</button>
    </form>
    {{else}}
    <div>
      <a href="/"></a>
    </div>
    <div>
      <a class="btn btn-secondary mt-3 mb-2" href="/login">Login</a>
      <a class="btn btn-secondary mt-3 mb-2" href="/signup">Signup</a>
    </div>
    {{/if}}
  </nav>
  <div class="main-container">
    {{{body}}}
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>