<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IronTumblr</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap"> 
    <link rel="stylesheet" href="/stylesheets/style.css">
	
  </head>
  <body>
    <div class="main-container">
      
	  <header>
      <a href="/">Home</a>
	  <a href="/login">Login</a>
	  <a href="/signup">Signup</a>
	  <a href="/logout">Logout</a>
	  <a href="/profile">Profile</a>
	  <a class="new-post" href="/create">New Post</a>


	  </header>

      {{{body}}}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>