<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>IronTumblr</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="main-container">
    {{!-- <nav>
      <a href="/">home</a>
      {{#if logged}}
      <ul>
        <li><a href="/create">Create a Post</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      {{else}}
      <ul>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
      {{/if}}
    </nav> --}}

    <nav class="nav-extended deep-purple darken-1">
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/">Home</a></li>
        </ul>
        {{#if logged}}
        <ul class="right hide-on-med-and-down">
          <li><a href="/create" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Create a
              Post</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        {{else}}
        <ul class="right hide-on-med-and-down">
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
        {{/if}}
      </div>

    </nav>
    {{{body}}}
  </div>
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>