<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>IronTumblr</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>
    <nav>
      {{#if user}}
        <form action="/logout" method="POST">
          <button class="btn btn-sm btn-danger">Logout</button>
        </form>
      {{else}}
        <a class="btn btn-sm btn-dark" href="/signup" >Signup</a>
        <a class="btn btn-sm btn-dark" href="/login">Login</a>
      {{/if}}
    </nav>
    <div class="main-container">
      {{{body}}}
    </div>
  </body>

</html>