<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IronTumblr</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
      <h1>Welcome to IronTumblr</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li>
          {{#if username}}
          <a href="/profile">Profile</a>
          <li><a href="/logout">Logout</a></li>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
          </li>
        </ul>
        {{#if username}}
        <ul><li><img src="{{image}}" alt="Profile image" width="50" height="50">
          {{username}}</li></ul>
        {{/if}}
      </nav>
    <div class="main-container">
      {{{body}}}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
