<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IronTumblr</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="main-container">
        <a href="/" class="badge badge-secondary">Home</a>
        <a href="/auth/profile" class="badge badge-secondary">Profile</a>
        <a href="/auth/signup" class="badge badge-secondary">Sign up</a>
        <a href="/auth/login" class="badge badge-secondary">Log in</a>
        <a href="/auth/logout" class="badge badge-secondary">Log out</a>
  
      {{{body}}}
      

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
