<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>IronTumblr</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascript/frond.js"></script>
</head>

<body>
  <div class="main-container">

    <nav class="nav justify-content-center">
      <a class="nav-link active" href="/">Home</a>
      <a class="nav-link" href="/login">Login</a>
      <a class="nav-link disabled" href="/signup">SignUp</a>
    </nav>

    {{{body}}}
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</body>

</html>