<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IronTumblr</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    
  </head>
  <body>
    <div class="main-container">
      <nav> 
        <h1 class="nav-item justify-content-start">Welcome to IronTumblr</h1>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" href="/photo/add/:id">Add photo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/signup"  >Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </nav>
      {{{body}}}
    </div>
    <script src="/javascripts/scripts.js"></script>
  </body>
</html>