<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IronTumblr</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="main-container">
      <header>
    <a href="/"><h1>Welcome to IronTumblr</h1></a>
    {{#if user}}
    <div id="user-info">
      <img src="{{user.picture}}" style="width: 100px;height:100px"="">
      <a href="/logout">Log out</a>
      <a href="/post/{{user._id}}">My posts</a>

    </div>

    {{/if}} {{#unless user}}
    <div id="user-options">
      <a href="/login">Log in</a>
      <a href="/signup">Sign up</a>
    </div>

    {{/unless}}
    
  </header>
      {{{body}}}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
