<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>IronTumblr</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <nav>
    {{#if user}}
    <a href="/">Main | </a>
    <a href="/profile">Profile</a><br><br>
    <form action="/logout" method="POST">
      <button>Logout</button>
    </form>
    {{else}}
    <a href="/login">Login | </a>
    <a href="/signup">Signup</a>
    {{/if}}
  </nav>
  <div class="main-container">
    {{{body}}}
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>