<h1>Post</h1>
 <form action="/new-post" method="post" enctype="multipart/form-data">
     <div class="form-group">
         <label for="content">Content</label>
         <input type="textarea" name="content">
     </div>
     {{!-- <div class="form-group">
         <label for="photo">Photo</label>
         <input type="file" name="photo">
     </div> --}}
     <button type="submit" class="btn btn-primary">Submit</button>

 </form>