<form action="/new-post" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="content">content</label>
          <input type="textarea" name="content" class="form-control">
        </div>
        <div class="form-group">
          <label for="photo">picture</label>
          <input type="file" name="photo" class="form-control">
        </div>
        <button type="submit">Send</button>
        </form>
