<h1>New Post</h1>
<form action="/new-post" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="content">Content</label>
        <input type="textarea" name="content" class="form-control">
    </div>
    <div class="form-group">
        <label for="photo">Picture</label>
        <input type="file" name="photo" class="form-control-file">
    </div>
    <button type="submit" class="btn btn-primary">Submit post</button>

</form>