<div>
  <h2>Create a new post</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <textarea rows="6" cols="60" name="text"></textarea>
    <input type="file" name="photo">
    <input type="submit" value="Post">
  </form>
</div>