<h2>New Post</h2>
<form action="/new" method="post" enctype="multipart/form-data">
    <label for="file">Add a picture</label>
    <br>
    <input type="file" name="file">
    <br><br>
    <label for="caption">Add a caption</label>
    <br>
    <input class="caption-create-box" type="text" name="caption" placeholder="Write here...">
    <br>
    <input type="submit" value="Save">
</form>
