<h1>New post</h1>
<form action="/create" method="POST"  enctype="multipart/form-data">
    <label for="content">Description</label>
    <input type="text" name="content" class="form-control">
    <input type="submit" value="create" class="form-control">
    <label for="photo">Upload image</label>
    <input type="file" name="photo" class="form-control">
    <a href="/view-all">View Posts</a>
     <a href="/">Back</a>
</form>
