<a href="/">Home</a>

<form action="/new-post" method="post">
    <div class="form-group"><br><br>
        <label for="title"></label>
        <input type="textarea" name="title" class="form-control" placeholder="POST HERE">
    </div>
    <br><br>
    <button type="submit">Post!</button>
</form>