<form action="/signup" method="post" enctype="multipart/form-data"> 
        <div class="form-group">
          <label for="username">Content</label>
          <input type="text" name="username" class="form-control">
        </div><br>
        <div class="form-group">
          <label for="picture">Picture</label>
          <input type="file" name="Photo" class="form-control">
        </div>
         <button type="submit">Crear nuevo post</button>
</form>