<div id="container">
    <h2>Hi @<%= username %>!</h2>
   
    <form action="/posts/new" method="POST" id="new-post">
      <label for="postContent">Post</label>
      <input type="text" name="postContent" maxlength="140"
        placeholder="The internet is yours to shit all over!!" >
      <button class="button blue fright">Post it</button>
    </form>
   
    <% if (typeof(errorMessage) != "undefined") { %>
      <div class="error-message"><%= errorMessage %></div>
    <% } %>
   </div>