<h2>Add a New Post</h2>
<div class="container">
  <form action="/post/add" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="content">Content: </label>
      <textarea type="text" name="content" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="picture-post">Photo</label>
      <input type="file" name="picture-post" class="form-control">
    </div>

    <button type="submit">Add post</button>
  </form>
</div>