    <section>
    <h2>New posts:</h2>
  {{#each allThePost}}
  <figure style="width: 25%; display:inline-block">
    <img src="{{this.picPath }}" alt="{{ this.picName }}" style="width: 100%;" />
    <figcaption>
      <h3>{{ this.content }}</h3>
      <h4>{{this.creatorId.username}}</h4>
    </figcaption>
  </figure>
  {{#else}}

  <p>Ops! No post availables</p>

  {{/else}}
  {{/each}}

</section>
    <a href="/post/new">Create new post</a>
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>