<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/create">Create Post</a></li>

    </ul>
</nav>

<h1>Welcome {{usuario.username}}</h1>
<img src="{{usuario.userImg}}" alt="" width="200px" height="200px">
<a href="/update">Update Profile</a>
