<nav class="blue-grey">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/logout">LOGOUT</a></li>
    </ul>
  </div>
</nav>
<div class="img-bg">
  <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img id="profile-photo" src="{{user.image}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5>{{user.username}}</h5>
          <p>{{user.email}}</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>