<h2>Profile</h2>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{photo}}" class="card-img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
         <strong>Username</strong>: {{username}} <br>
         <strong>Member since</strong>: {{created_at}} <br> 
      </div>
    </div>
  </div>
</div>