<h1>Meme</h1>

<div>
  <div id='content-meme-shown'>
    <img src="{{picture.imgPath}}" alt="meme-pic">
    <h4>{{picture.imgName}}</h4>
    <p><strong>Descripción:</strong> {{picture.description}}</p>
    <a href="">Borrar post</a>
  </div>
</div>