<h1>Your posts</h1>

<div class="container">
  <div class="row">
    <form class="" action="/post" method="post">

    </form>
      <label for="title"></label>
      <input type="text" name="title" value="title">

      <label for="content"></label>
      <input type="textarea" name="content" value="content">

      <input type="hidden" name="userId" value="userId">

      <button type="submit" name="post-btn">Post it!</button>
  </div>
</div>
