<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>My profile</h1>
    <form action="/signup" method="post" enctype="multipart/form-data">
        <label>Username</label>
        <input type="text" name="username">
        <label>Email</label>
        <input type="text" name="email">
        <label>Password</label>
        <input type="text" name="password">
        <label>Photo</label>
        <input type="file" name="photo">
        <input type="submit" value="SAVE">
    </form>


</html>