<form action="/signup" method="post">
  <input type="text" name="username" class="form-control">
  <input type="password" name="password" class="form-control">
  <button type="submit">Signup</button>
</form>
<!--  -->