<form action="/auth/signup" method="POST">
    <h2>Sign up</h2>
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Your username">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="********">

  <button type="submit">Create account</button>
    <p>
      You have an account? <a href="/auth/login">Login</a>
    </p>
</form>