<h2>Update profile</h2>
<form action="/update " method="post" enctype="multipart/form-data">
  <label>Profile Picture</label>
  <input type="file" name="photo">

  <input type="submit" value="SAVE">
</form>