<form action="/create-post" method='post' enctype="multipart/form-data">
  <label for="content">Content: </label>
  <input type="text" name="content" id="content-input">
  <label for="picName">Post name</label>
  <input type="text" name="picName" id="image-name">
  <label for="picFile">Image</label>
  <input type="file" name="picFile">
  <button type="submit">Submit</button>
</form>