<form action="/new-post" method="POST" enctype="multipart/form-data">
  <label for="content">Post content</label>
  <input type="text" id="content" name="content">

  <label for="postPic">Post img</label>
  <input type="file" id="postPic" name="image">
  <button type="submit">Crear</button>
</form>