<div id="form">
  <h2>{{user.username}},  tell us what's on your mind?</h2>
  <form action="/posted" method="POST" enctype="multipart/form-data">

<label for="image-input">Upload your favorite image
<input type="file" name="image" id="image-input" class="form-controla-file">
</label>

<label for="description"> Description 
<textarea name="description" id="description" cols="50" rows="10"></textarea>
</label>
    <button type="submit">Submit</button>



    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>