{{#if user}}
    <h2>Welcome, {{ user.username }}!</h2>
    <p>This is your profile page my friend! And your email is: {{ user.email }}</p><br>
    <p>This is your profile picture </p><br><img style="width:200px;height:200px;object-fit:cover" src="{{ user.profilePicture }}" alt="">
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}
    <br>
    <a href="/">Return to Index</a>