<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="user-profile">
            {{#if user}}
            <h1>Welcome @{{user.username}}</h1>
            <div class="nav-avatar">
                <img src="{{user.avatar}}">
            </div>
                <a href="/post-form" style="color: white;"><button type="button" class="btn btn-success">Create Post</button></a>
            {{else}}
            <p>Still no logged in user, sorry!</p>
            {{/if}}
            </div>
        </div>
    </div>
</div>