{{#if user}}
    <h2>Welcome, {{ user.username }}!</h2>
    <img src="{{user.image}}" alt="" width="80" height="auto">
    <p>This is your profile page my friend! And your email is: {{ user.email }}</p>
    <a href="/post-form">Create a new post</a>
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}