{{#if user}}
    <h2>Welcome, {{ user.username }}!</h2>
    <p><img id="imageProfile" src="{{ user.image }}" alt="Profile Image"></p>
    <p>This is your profile page my friend! And your email is: {{ user.email }}</p>
    <h3>Create a post:</h3>
    <form action="/create" method="POST" enctype="multipart/form-data">
        <label for="path">Upload your image</label>
        <input name="path" type="file">

        <label for="content">Content</label>
        <textarea type="text" name="content"></textarea>
    
        <button type="submit">Create post</button>

    </form>
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}