<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IronTumblr</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
  </head>
  <body>
    <header>
      <div class="col-sm-3">
        <li><a href="/">Home</a></li><br>
        <li><a href="/signup"> Sign Up </a></li><br>
        <li><a href="/login"> Log In </a></li><br>
        <li><a href="/profile"> Profile </a></li><br>
        <li><a href="/logout"> Log Out</a></li><br>
        <li><a href="/posts/new"> Create a Post </a></li><br>
      </div>
    </header>
    <div class="col-sm-9">
      <%- body -%>
    </div>
    <script src="/javascripts/reward-donate.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>
