<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IronTumblr</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="main-container">
    <h1>Welcome to IronTumblr</h1>

      <%- body -%>

    </div>

  </body>
</html>
