<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IronTumblr</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
      <div class="col-sm-3">
        <li><a href="/">Home</a></li><br>
        <li><a href="/posts"> Posts </a></li><br>

        <%  if (typeof user !== 'undefined') { %>

          <li><a href="/profile"> Profile </a></li><br>
          <li><a href="/posts/my-posts"> My Posts </a></li><br>          
          <li><a href="/posts/new"> Create a Post </a></li><br>
          <li><a href="/logout"> Log Out</a></li><br>

        <% } else { %>

        <li><a href="/signup"> Sign Up </a></li><br>
        <li><a href="/login"> Log In </a></li><br>

        <% } %>
      </div>
    </header>
    <div class="col-sm-9">
      <%- body -%>
    </div>
    <footer>
      <p> Made by Art©</p>
    </footer>
  </body>
</html>
