<form action="/create-post" method="POST" enctype="multipart/form-data">
  <label for="content">Post</label>
  <input type="text" id="content" name="content">

  <label for="postPic">Post image</label>
  <input type="file" id="postPic" name="image">
  <button type="submit">Upload</button>
</form>