<h2>Create a post</h2>

<form action="/create" method="POST" enctype="multipart/form-data">
    <label for="content-input">Description</label>
    <textarea name="content" id="content-input" cols='30' rows='4'>     </textarea>

    <label for="image-input">Upload content</label>
    <input type="file" name='image' id='image-input'>

    <button type="submit">Create post</button>
</form>