  <div class="card">
    <img class="card-img-top" src="{{picPath}}" alt="{{picName}}">
    <div class="card-body">
      <h4 class="card-title">{{picName}}</h4>
      <p class="card-text">{{content}}</p>
      <br>
      <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/" type="button" class="btn btn-success">Return</a>
      </div>
    </div>
  </div>