<form action="/post/new" method="post" enctype="multipart/form-data">
  <label for="post-content">Content</label>
  <input id="post-content" type="text" name="postContent">
  <br>
  <label for="post-pic-path">Upload Picture</label>
  <input id="post-pic-path" type="file" name="postPicPath">
  <br>
  <label for="post-pic-name">Picture Name</label>
  <input id="post-pic-name" type="text" name="postPicName">
  <br>
  <button>Submit</button>
</form>
