<h1>Create a new Post</h1>
<hr>
<div id="form">
  <formaction="/posts/new" method="POST" enctype="multipart/form-data">
    <input required type="file" name="postImage">
    <label for="picName">Post content:</label>
    <input required type="text-area" name="content">
    <label for="content">Post content:</label>
    <input required type="text-area" name="content">
    <button type="submit">Create post</button>
  </form>
</div>