<h2>New Post</h2>

<a href="/">Back to main page</a>

<form action="/posts/create" method="post" enctype="multipart/form-data">
  <label for="content">Content</label>
  <textarea name="content" id="" cols="45" rows="10"></textarea>

  <label for="image-input">Image:</label> <br>
  <input type="file" name="image" class="form-control-file" />
  <button type="submit">Submit!</button>
</form>