<h1>{{title}}</h1>
<form action="{{action}}" method="POST" enctype="multipart/form-data">
  <p>
    <label for="content">Content: </label>
    <input type="text" name="content"/>
  </p> 
  <p>
    <label for="image">Image: </label>
    <input type="file" name="picName" />
  </p>
  <p>
    <input type="submit" value="{{title}}">
  </p>
</form>