<br>
<br>
<br>
<br>
<h2>Creador: {{creatorId.username}}</h2>
  <div class="card" style="width: 18rem;">
    <img src="{{picPath}}" class="card-img-top" alt="{{picName}}">
    <div class="card-body">
      <p class="card-text">{{content}}</p>
    </div>
    <a href="/posts" class="btn btn-primary">Regresa</a>
  </div>