


<form action="/newPost" method="POST" nectype="multipart/from-data">

    <label for="author"></label>
    

    <label for="picPath">Image</label>
    <input type="file" name="picPath" />

    <label for="picName">Image</label>
    <input type="file" name="picName" />

    <label for="content"></label>
    <textarea name="content" cols="30" rows="10"></textarea>

</form>