<h2>Post</h2>
<form action="/posts/create" enctype="multipart/form-data" method="POST">
    
    <label for="input-content">Content</label>
    <input type="text" id="input-content" name="content" placeholder="Your content" />

    <label for="input-picture-post">Profile picture</label>
    <input type="file" id="input-picture-post" name="picName">

    <button type="submit">Post</button>
</form>