<div class="post-list">
    {{#each post}}
        <div class="post-list-item">
            <a href="/posts/detail/{{this._id}}">
                <p>{{ this.content }}</p>
                {{#if this.picName}}
                    <img src="/uploads/post/{{ this.picName }}" alt="">
                {{/if}}
            </a>
            <h4>Posted by: {{ this.creatorId.username }}</h4>
        </div>

    {{/each}}
</div>