mixin form(register, error)

  .form-container
    form(action= register ? "/signup" : "/login" method="POST" enctype= register ? "multipart/form-data" : "application/x-www-form-urlencoded")
      
      div
        label(for="username") Username
        input(type="text" id="username" name="username" required)

      
      if register
        div
          label(for="email") E-mail
          input(type="email" id="email" name="email" required)

      div
        label(for="password") Password
        input(type="password" id="password" name="password" required)

      if register
        div
          label(for="profile") Upload Profile Picture:
          input(type="file" name="image")
      
      if error
        p(style="color:red") #{error}

      button(type="submit")= register ? "Sign up!" : "Login!"
