<form action="/comment" method="POST" enctype="multipart/form-data">
  <label for="commentText">Comment</label>
  <input type="text" name="commentText" maxlength="140" placeholder="What's going on?">
  <div>
    <label for="photo">Select a photo: </label>
    <input type="file" name="photo">
  </div>
  <button>Comment!</button>
</form>
