<p> Create</p>

<section>
<h2>Post Something</h2>
<form action="/create" method="post" enctype="multipart/form-data">

  <input type="file" name="file">
  <input type="text" name="name">
  <input type="submit" value="Save">
  <br>
  <input type="text" name="content">

</form>
</section>
