<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/create-post" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="comments">Post</label>
          <textarea type="text" name="comments" class="form-control"></textarea>
        </div>

        <div class="form-group">
        <input type="file" name="photo">
        </div>


        <button type="submit">Create Post</button>
      </form>
    </div>
  </div>
</div>
