<section>
    <h2>Create your post</h2>
    <form action="/posts/create" method="post" enctype="multipart/form-data">
        <input type="text" name="description" placeholder="Escribe tu vida en verso"><br>
        <input type="file" name="phototoupload" multiple><br>
        <input type="submit" value="Save"><br>
    </form>
</section>