<form action="/editPic" method="POST" enctype="multipart/form-data">
    <img src="{{user.imgPath}}" alt="image" />
    <input type="file" name="photo" id="pic">
    <input type="submit" value="Save">
</form>