<section>
    <h2>Upload your photo on Cloudinary</h2>
    <form action="/profile/upload-cloud" method="post" enctype="multipart/form-data">
        <input type="text" name="pictureName" placeholder="Incluye la descripcion de la imagen"><br>
        <input type="file" name="phototoupload"><br>
        <input type="submit" value="Save"><br>
    </form>
</section>