<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<h3>Log In</h3>
			<form action="/login" method="post">
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" name="username" class="form-control">
				</div>

				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" name="password" class="form-control">
				</div>
				<div><p>Don't you have any account yet? <a href="/signup">Sign Up</a></p></div>
				<button type="submit">Login</button>
			</form>
		</div>
	</div>
</div>