<div class="img-bg">
  <div class="square">
    <div class="row">
      <div class="col-sm-6 centered-form">
        <form action="/login" method="post">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control">
          </div><br>

          <button class="btn blue-grey" type="submit">Login</button>
          <a href="/signup">Create account</a>
        </form>
      </div>
    </div>
  </div>
</div>