<div class="container">
	<div class="row">
		<div class="col-sm-6 centered-form">
			<section class="form-wrap">
				<h3 class="form-title">Login Form:</h3>
				<form action="/login" method="post">
					<div class="form-group">
						<label for="username">Username</label>
						<input type="text" name="username" class="form-control input-lg">
					</div>

					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" name="password" class="form-control input-lg">
					</div>

					<button type="submit" class="btn btn-info btn-lg btn-block">Login</button>
				</form>
			</section>
		</div>
	</div>
</div>