<div class="wrapper">
  <div class="container">
    <form action="/login" method="post">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control">

      <label for="password">Password</label>
      <input type="password" name="password" class="form-control">

      <button type="submit">Login</button>
    </form>
  </div>
</div>