<h2>Create New Post</h2>

<form action="/new" method="POST" enctype="multipart/form-data">
    <input type="text" name="content" placeholder="Content">
    <input type="text" name="picName" placeholder="Picture's Name">
    <input type="file" name="photo">
    <button type="submit">Send</button>
</form>