<h1>Create a new post!</h1>

<form action="/newpost" method="post" enctype="multipart/form-data">
  <textarea name="content" id="" cols="30" rows="10" placeholder="write your text here">
  </textarea>
    <div>
      <label>Add a picture</label>
      <input type="file" name="photo-post">
    </div>
  <button type="submit">Send post</button>
</form>