<div class="container">
    <div class="row">
        <div class="col-sm-6 centered-form">
            <form action="/post/new" method="post" enctype="multipart/form-data">
                <div class="form-group">
                   <h2> {{user.username}} </h2>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Your post:</label>
                        <textarea class="form-control" id="text-post" name="content" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="file" name="picPath">
                    </div>
                    <button type="submit">New Post</button>
                    <hr>
                    <ul>
                        
                    </ul>
            </form>
            </div>
        </div>
    </div>
</div>