Post something new!

<form action="/new" method="post" enctype="multipart/form-data">
  <input type="text" name="content">
  <input type="file" name="photo">
  <input type="submit" value="Save">
</form>
</section>
<section>
</section>