<br>
<form action="/post" method="POST" enctype="multipart/form-data">
  <label for="content">Content</label>
  <input type="text" name="context">
  <br>
  <br>
  <label for="picName">Image</label>
  <input type="file" name="picName">
  <br>
  <button type="submit">Upload</button>
</form>