<div class="container">
  <div class="row">
    {{ message }}
    <div class="col-sm-6 centered-form">
      <form action="/post" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="content">Content</label>
          <input type="text" name="content" class="form-control">
        </div>
         <div class="form-group">
          <label for="picName">Imagen</label>
          <input type="file" name="picName" class="form-control">
        </div> 
        <button type="submit">Enviar</button>
      </form>

      <div class="error-message">{{ message }}</div>
    </div>
  </div>
</div>