<div class="container" >
    <div class="row picture">
        <div class="col">
            <h1>Welcome, {{user.username}}! </h1>
            <img src="{{user.picture}}" ></img>
            <a href="/post">Crear post</a>
        </div>
    </div>
</div>

