<h1>Welcome, {{user.username}}! </h1>

<a href="/create">Editar foto de perfil</a>
<a href="/posts/create">Escribe tu post</a>
<div class='row'>
    <div class='col-4'>
        <img src="{{user.image}}" alt="{{user.username}}">
    </div>
</div>