<h1>Welcome, {{user.username}}! </h1>
<img src="{{user.profileImage}}" alt="{{user.username}}">

{{!-- el enrutado se tiene que llamar igual que la ruta del metodo get en este caso --}}
<a href="/post">Make a post</a>