<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <h2>Perfil de <%= user.username %></h2>

      Your account credentials:
      <p>Your Username: <%= user.username %></p>
      <p>Your Email: <%= user.email %></p>
      <p>Your Picture: <img src="<%= user.photo %>"></p>
    </div>
  </div>
</div>
