<h1>MY PROFILE</h1>

<div class="profile">
    <ul>
        <li><img src="{{user.photo}}" style="height:100px;width:100px;" alt=""></li>
        <li><span>{{user.username}}</span></li>
        <li><p>{{user.email}}</p></li>
    </ul>
</div>
<a href="/post">BACK TO LIST</a>