<h1>Welcome to your Profile</h1>

<div class="wrapper">
 
    <div class="details">
      <img src="{{user.url}}" alt="">
      <h4>{{user.username}}</h4>
      <p>{{user.email}}</p>
    </div>
 
</div>