<main class="container">
    <div class="row">
        <div class="visible-md  col-md-1"></div>
        <div class="user-info col-12 col-md-10">
            <h1 class="text-center user-header">HELLO ON YOUR ACCOUNT PAGE <span>{{user.username}}</span></h1>
            <img class="user-img" src="{{user.imagePath}}" alt="">
        </div>
    </div>
</main>