<div class="card">
    <img class="card-img-top" src="{{imgURL}}" alt="{{username}}">
    <div class="card-body">
        <h4 class="card-title">{{username}}</h4>
        <p class="card-text">{{email}}</p>
        <a href="/">return</a>
    </div>
</div>