<div class="column justify-content-center">

    <div class="col-md-8">

        <h1>Welcome, {{user.username}}! </h1>
        <a href="/post-comment" class="btn btn-sm btn-info">Post a Comment</a>
        <img src="{{user.profilePic}}" alt="">

    </div>

</div>