<h1>Your profile: {{user.username}}</h1>

<div class= "profile">
    <ul>
<li><img src="{{user.path}}" ></li>
<li><a href="/new-post" class="btn btn-dark">Create new post</a></li>
<li><a href="/" class="btn btn-dark">Feed</a></li>

</ul>
</div>
<a href="/logout" class="btn btn-dark">Log out</a>
<h3>Your posts:</h3>