<h1>Profile</h1>
<br><br>
<div>
    <img width="50%" src="{{imgURL}}" alt="{{username}}">
    <div>
        <h4>{{username}}</h4>
        <p>{{email}}</p>
        <a href="/">Home</a>
    </div>
</div>