<div id="profile" class="container">
  <div class="row justify-content-center">

    <h1>Welcome back, {{user.username}}! </h1>
    <img src="{{user.imgPath}}" alt="Profile pic">
      </div>

  <div class="row justify-content-center">
    <a href="/"><button type="button" class="btn btn-primary">See all posts</button></a>
  </div>
  
</div>