<h1>Welcome, {{user.username}}! </h1>

<img id="user-image" src="{{user.path}}" alt="{{user.imageName}}">
{{#if user.path}}
<hr>
<a href="/profile/photo-upload">Update</a>
{{else}}
<a href="/profile/photo-upload">Upload Photo</a>
{{/if}}