<h1>Welcome, {{user.username}}! </h1>

{{#if savedPic}}
<hr>
<img id="user-image" src="{{savedPic.imageUrl}}" alt="{{savedPic.name}}">
{{else}}
<h4>Upload your profile picture</h4>
<form action="/profile" method="post" enctype="multipart/form-data">
    <input type="file" name="image">
    <button>Save</button>
</form>
{{/if}}