<div class="container">


    <img src="uploads/{{user.photoURL}}" alt="my picture" height="42" width="42">
    <h1>Welcome, {{user.username}}! </h1>
    <br>
    <br>

    <a href="/post" class="btn btn-outline-dark" role="button" aria-pressed="true">Create a Post</a>
    <a href="/" class="btn btn-outline-dark" role="button" aria-pressed="true">Home</a>
</div>