<img src="{{user.profilePic.path}}" alt="{{user.profilePic.originalName}}" style="width: 150px">

<h1>Howdy {{user.username}}?</h1>

<a href="/post/new">Wanna create a post?</a>
<br></br>
<a href="/logout"> Log Out? </a>