<h2>PROFILE PAGE</h2>
<h3>WELCOME <%= user.username%>!</h3>
<% if(picture != 'undefined') { %> <!--Qué falla en esta línea?-->
  <img src="<%= picture.pic_path %>" alt="<%= picture.pic_name %>" />
<% } %>
<a href="/profile/edit">Update your photo!</a>
<form action="/logout" method="POST">
  <button>Log out!</button>
</form>
