<h1>Bienvenido: {{user.username}}</h1>
 <a href="/new-post">New post</a>
 <a href="/">Home</a>
 <a href="/logout">LogOut</a>

 <h3>Posts:</h3>
 {{#each posts}}
     <p>{{this.content}}</p>
     <img src="{{this.picpath}}" alt="{{this.picname}}">
 {{/each}}

 