<h1>Welcome, {{user.firstName}}! </h1>

<img class="user-image" src="{{user.path}}" alt="{{user.imageName}}">
{{#if user.path}}
<a href="/profile/photo-upload">Edit Photo</a><br>
<a href="/profile/update">Edit Profile</a><br>
<hr>
{{else}}
<hr>
<a href="/profile/photo-upload">Upload Photo</a><br>
{{/if}}
<a href="/profile/post">Post Photos</a>