<h1>Welcome, {{user.username}}! </h1>

<a href="/" style="margin: 20px 0; display: block;">See all the movies</a>

<form action="/photo/add/{{user.id}}" method="post" enctype="multipart/form-data">

  <label>Photo</label>
  <input type="file" name="photo">

  <input type="submit" value="SAVE">
</form>