<h1>Profile</h1>
<img width= "300" src="{{user.imgPath}}" alt="Profile">
<a href="/editPic">Edit profile pic</a>
<h2>{{user.username}}</h2>
<a href="/posts/createPost">
  <button>Create new post</button>
</a>