<h1>Welcome, {{user.username}}! </h1>

<img src="{{user.imgPath}}" alt="">

<form action="/photo/add/{{user._id}}" method="post" enctype="multipart/form-data">
   
    <label>Photo</label>
    <input type="file" name="photo">

    <input type="submit" value="SAVE">
</form>