<h2>Add a POST</h2>

<form action="/movie/add" method="post" enctype="multipart/form-data">
  <label>Content: </label>
  <input type="text" name="content">

  <label>Image: </label>
  <input type="file" name="photo">

  <input type="submit" value="SAVE">
</form>

{{#each newUser}}
<p>{{this.content}}</p>
<img src="{{this.picPath}}" alt="">
{{/each}}