<div class="container">
    <h1>Usuario</h1>

    <div class="row">
        {{#with user}}
        <div class="col-md-3">
            <img src="{{this.imgPath}}" alt="" style="width: 100%">
            <h4>{{this.username}}</h4>
        </div>
        {{/with}}
    </div>
</div>