<h1>MY PROFILE</h1>

<div class="profile">
        <img src="{{user.photo}}" alt="">
        <h3>Username: {{user.username}}</h3>
        <h4>Email: {{user.email}}</h4>
</div>
<button class="btn btn-danger">
<a href="/post">BACK TO LIST</a>

</button>
