<form action="/create" method="post" enctype="multipart/form-data" id="formPost">
    <div class="form-group">
        <label for="content"></label>
        <textarea class="form-control" name="content" id="content" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="creatorId">Creator ID</label>
        <input type="text" name="creatorId" class="form-control">
    </div>
    <div class="form-group">
        <label for="picPath">Mete la afoto</label>
        <input type="file" name="photo" class="form-control">
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control">
    </div>
 

    <button type="button" value="Save" id="subirPost">Subir Post</button>
</form>