<section>
  <h2>Upload your photo</h2>
  <form action="/profile/update" method="post" enctype="multipart/form-data">
    <input type="file" name="photo">
    <input type="submit" value="Save">
  </form>
</section>