<h1>Welcome, {{user.username}}! </h1>

<figure>
    <img class="pic" src="{{user.path}}" alt="{{user.pictureName}}">
</figure>

<a href="/profile/upload-cloud">Sube tu imagen aquí</a>
<br><br>
<a href="/profile/post-form">Escribe tu comentario</a>