           <a href="/signup">signup</a>
          <a href="/logout">logut</a>



<div class="container">
  <div class="row">
    {{ message }}
    <div class="col-sm-6 centered-form">
      <form action="/signup" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control">
        </div>
      <div class="form-group">
          <label for="password">Photo</label>
          <input type="file"id="file"   name="file" accept="image/png, image/jpeg">
      </div>
            <div class="form-group">
          <input type="submit">
      </div>
      </form>
    </div>
  </div>
</div>