<div class="container">
  <div class="row">
   {{ message }}
    <div class="col-sm-6 centered-form">

      <form action="/signup" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control">
        </div>

        <section>
          <label for="photo">Profile Picture</label>
          <input type="text" name="name">
          <input type="file" name="profileImage" class="form-control"><br><br>
        </section>

        <button type="submit" value="SAVE">Submit</button>
      </form>

    </div>
  </div>
</div>