<nav class="blue-grey">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">GO HOME</a></li>
    </ul>
  </div>
</nav>
<div class="img-bg">
<div class="square">
  <div class="row">
    {{ message }}
    <div class="col-sm-6 centered-form">
      <form action="/signup" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control">
        </div>
        <div>
          <label for="">
            Profile photo:
            <input type="file" name="image">
          </label>
        </div><br>
        <button class="btn blue-grey" type="submit">Sign up</button>
        <a href="/login">You have an account?</a>
      </form>
    </div>
  </div>
</div>
</div>
