<div class="container">
  <div class="row">
    {{ message }}
    <div class="col-sm-6 centered-form">

      <form action="/signup" method="post" enctype="multipart/form-data">
         <div class="form-group">
          <label for="photoURL">Pon tu foto</label>
          <input type="file" name="photoURL" class="form-control" accept="images/*">
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" value="{{username}}" name="username"class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" value="{{email}}" name="email"class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" value="{{password}}" name="password"class="form-control">
        </div>
        <button type="submit">Signup</button>
      </form>
    </div>
  </div>
</div>
