<div class="container">
    <h1>Sign Up</h1>
    <div class="row">
        <%= message %>
            <div class="col-sm-6 centered-form">
                <form action="/signup" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="room-photo-input"></label>
                        <input id="room-photo-input" name="userPhoto" type="file" value="">
                    </div>

                    <button type="submit">Signup</button>
                </form>
            </div>
    </div>
</div>
