  <h2>Sign Up</h2>

  <div class="error">
    <%= message %>
  </div>
  <br>

<br>
  <div class="container">
    <div class="row">
      <div class="centered-form">
        <form action="/signup" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" class="form-control">
          </div>
          <br>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" name="email" class="form-control">
          </div>
          <br>

          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" class="form-control">
          </div>
          <br>

          <div class="form-group">
            <label for="photo-input"></label>
            <input id="photo-input" type="file" name="photo">
        </div>
          <br>

          <button>Signup</button>
        </form>
      </div>
    </div>
  </div>
