<div class="img-bg">
  <div class="square">
    <div class="row">
      {{ message }}
      <div class="col-sm-6 centered-form">
        <form action="/signup" method="POST">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control">
          </div>
          <div><br>
          <button class="btn blue-grey" type="submit">Sign up</button>
          <a href="/login">You have an account?</a>
        </form>
      </div>
    </div>
  </div>
</div>