<div class="wrapper">
  <div class="container">
    <form action="/signup" method="post" enctype="multipart/form-data">
      <label for="username">Username</label>
      <input type="text" name="username">

      <label for="email">Email</label>
      <input type="text" name="email">

      <label for="password">Password</label>
      <input type="password" name="password">

      <label for="profilePic">Profile picture</label>
      <input type="file" id="profilePic" name="profilePic">
  </div>
  <button type="submit" class="waves-effect waves-light btn links">Sign up</button>
  </form>
</div>
</div>
<a href="/posts" class="waves-effect waves-light btn links">Go back</a>