<div class="container">
  <div class="row">
    {{ message }}
    <div class="col-sm-6 centered-form">
      <h2>Signup</h2>
      <br><br>
      <form action="signup" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control">
        </div>
        <div class="form-group">
          <label for="picture">Profile picture</label>
          <input type="file" name="picture" class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">Signup</button>
      </form>
    </div>
  </div>
</div>
