<form action="/signup" method="post">
  <p>
    <label>
      Username:
      <input type="text" name="username">
    </label>
  </p>

  <p>
    <label>
      Email:
      <input type="text" name="email">
    </label>
  </p>

  <p>
    <label>
      Password:
      <input type="password" name="password">
    </label>
  </p>

  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}

  <button type="submit">Signup</button>
</form>