<div class="container margin-top">
  <div class="row justify-content-center">
    <div class="col-sm-6 centered-form">
      <h1>SIGNUP</h1>
      <form action="/signup" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control">
        </div>
        <div class='form-group'>
          <label for='input4'>PROFILE PICTURE</label>
          <input name='imgFile' type='file' id='input4'>
        </div>
      <button type="submit">Signup</button>
      </form>
    </div>
  </div>
</div>