<div class="container">
  <div class="row">
    {{ message }}
    <div>
      <form action="/signup" method="POST" enctype="multipart/form-data">
        <div>
          <label for="username">Username</label>
          <input type="text" name="username">
        </div>
        <br><br>
        <div>
          <label for="email">Email</label>
          <input type="text" name="email">
        </div>
        <br><br>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password">
        </div>
        <br><br>
        <div>
          <label>Profile Image</label>
          <input type="file" name="imgURL" accept="image/*">
        </div>
        <br><br>
        <div>
        <button type="submit">Signup</button>
        <a href="/">Home</a>
        </div>
      </form>
    </div>
  </div>
</div>