<div class="container">
  <div class="row">
    {{ message }}
    <div class="col-sm-6 centered-form">
      <form enctype="multipart/form-data" action="/signup" method="post">      {{!-- HTML form enctype--> --}}
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control">
        </div>
        <input type="file" name="avatar" />
        <button type="submit">Signup</button>
      </form>

      <div class="error-message">{{ message }}</div>
    </div>
  </div>
</div>