<div class="container">
    <h1>Subida de imagen</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class='form-group'>
            <label for='input1'>Foto:</label>
            <input name='imgFile' type='file' id='input1'>
        </div>
        <button type='submit' class='btn btn-dark'>Subir imagen</button>
    </form>
</div>