<form action="/profile/upload" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="photo">Photo</label>
    <input type="file" name="photo">
  </div>
  <button type="submit">Upload</button>
</form>
