<div class="col-sm-6 centered-form">
  <form action="/upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="content">What's in your mind?</label>
      <input type="text" name="content" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" name="name">
      <input type="file" name="photo">
    </div>
    <button type="submit">Show to everyone!</button>
  </form>
</div>
